<%= form_for resource, :as => resource_name, :url => intern_user_confirm_path, :html => { :class => 'form-horizontal well'} do |form| %>
  <%= content_tag :legend, 'Account erstellen' %>

  <fieldset>
    <%= form.text_field :forename, :class => 'span4', :label => { :text => 'Vorname' } %>
    <%= form.text_field :surname, :class => 'span4', :label => { :text => 'Nachname' } %>
    <%= form.text_field :phone, :class => 'span4', :label => { :text => 'Handy Nummer' } %>
    <%= form.password_field :password, :class => 'span4', :label => { :text => 'Passwort' } %>
    <%= form.password_field :password_confirmation, :class => 'span4', :label => { :text => 'Passwort wiederholen' } %>
    <%= form.hidden_field :confirmation_token %>

    <div class="form-actions">
      <%= form.submit 'Account erstellen und anmelden' %>
    </div>
  </fieldset>
<% end %>
