<div class="page-header">
  <h2>
    <%= @project.title %>
    <small><%= link_to intern_projects_path, :class => 'pull-right' do %>&laquo; zurück zur Übersicht<% end %></small>
  </h2>
</div>

<div class="row">
  <div class="span8" id="project-details">
    <p class="description"><%= auto_link @project.body, :html => { :target => '_blank' } %></p>
    <p class="author-details">
      von
      <%= image_tag avatar_url(@project.author.avatar, :tiny), :alt => @project.author.full_name %>
      <%= link_to intern_account_path @project.author do %><strong><%= @project.author.full_name %></strong><% end %>
      am <strong><%= @project.created_at.strftime('%d. %B %Y') %></strong><br/>
    </p>
  </div>

  <div class="span4">
    <%= render :partial => 'intern/attachments/list', :locals => { :attachments => @project.attachments(true) } %>
    <% if can? :add_attachment, @project %>
      <%= render :partial => 'intern/attachments/form', :locals => { :resource => @project, :attachment => @attachment ||= @project.attachments.new } %>
    <% end %>
  </div>
</div>
