<% unless comments.empty? %>
<div class="well headline">
  <h4 class="pull-left">Kommentare</h4>
  <span class="badge pull-right"><%= comments.length %></span>
</div>
<ul id="comments-list" class="unstyled">
<% comments.each do |comment| %>
  <li>
    <div class="pull-left">
      <%= link_to intern_account_path(comment.author) do %>
        <%= avatar_image_tag comment.author.avatar, :small, :class => 'avatar' %>
      <% end %>
    </div>
    <div class="span7 comment pull-right">
      <div class="head">
        <span class="pull-left">
          <%= link_to intern_account_path(comment.author) do %><strong><%= comment.author.full_name %></strong><% end %>
          <em>schrieb:</em>
        </span>
        <em class="pull-right"><%= comment.created_at.strftime('%d. %b, %H:%M Uhr') %></em>
      </div>
      <p><%= simple_format(auto_link comment.text, :html => { :target => '_blank' }) %></p>
    </div>
  </li>
<% end %>
</ul>
<% end %>
