<% unless comments.empty? %>
<div class="well headline">
  <h4>
    Kommentare
    <span class="badge pull-right"><%= comments.length %></span>
  </h4>
</div>
<ul id="comments-list" class="unstyled">
<% comments.each do |comment| %>
  <li>
    <div class="pull-left">
      <%= link_to intern_account_path(comment.author) do %>
        <%= image_tag avatar_url(comment.author.avatar, :small), :class => 'avatar' %>
      <% end %>
    </div>
    <div class="span7 comment pull-right">
      <div class="head">
        <%= link_to intern_account_path(comment.author) do %><strong><%= comment.author.full_name %></strong><% end %> <em>schrieb:</em>
        <em class="pull-right"><%= comment.created_at.strftime('%d. %b, %H:%I Uhr') %></em>
      </div>
      <p><%= auto_link comment.text, :html => { :target => '_blank' } %></p>
    </div>
  </li>
<% end %>
</ul>
<% end %>
