<%= form_for [:intern, @document], :html => { :class => 'form-horizontal well' } do |form| %>
  <%= content_tag :legend, 'Dokument hinzufügen' %>
  <fieldset>
    <% if @document.errors.any? %>
    <div class="alert alert-error"><strong>Achtung!</strong> Beim Versuch die Datei hochzuladen oder zu speichern sind Fehler aufgetreten.</div>
    <% end %>
    <%= form.text_field :title, :class => 'span4', :label => { :text => 'Titel' } %>
    <%= form.file_field :asset, :label => { :text => 'Datei' }, :button => { :label => 'Auswählen' } %>
    <%= form.hidden_field :asset_cache %>

    <div class="form-actions">
      <%= form.submit 'Dokument speichern' %>
      <%= link_to 'Abbrechen', intern_documents_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
