<% page_title('Der High & Responsible Award') %>
<% page_stylesheet('extern/pages/projects/high_and_responsible', :media => 'all') %>
<% page_javascript('extern/pages/hr-winners') %>

<% content_for :headline  do %>
  <h1>Der High &amp; Responsible Award</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait' %>
<% end %>

<div id="hr-award">

  <div class="header">

    <%= image_tag 'shared/hr-award-logo.svg', :class => 'hr-award-badge' %>

    <p>
      Business as unusual – nachhaltige Beiträge zu einer gelingenden Rausch-
      und Risikokultur  von 16- bis 25- Jährigen sind gefragt – in Vergnügungsparks,
      Discos, Einkaufszentren und Gastronomiebetrieben ebenso wie auf Sport- und
      Spielplätzen, Kletterhallen, Berghütten, Schwimmbädern und Hochseilgärten …
    </p>

    <p>
      Jährlich werden 10 Betriebe, die einem von ExpertInnen entwickelten
      Bewertungsverfahren entsprechen, als <strong>High &amp; Responsible Location
      Certified 2014/15/16</strong> ausgezeichnet: Sie werden in  Medienpräsentationen
      vorgestellt und sind in einer österreichweiten web-Landkarte vertreten.
      Sie prägen als Vorreiter eine neue Erlebniskultur: high and responsible!
    </p>

  </div>

  <h2 id="winners">DIE GEWINNER 2014:</h2>

  <div class="map">

    <%= image_tag 'projects/hr-award/map/austria-map.svg', :class => 'country' %>

    <div class="pins">

      <div class="category nightlife">

        <div class="pin wiesen" data-location="1">
          <div class="marker"></div>
          <div class="city">Wiesen</div>
          <div class="content">
            <h4>Jazzpub und Festivalgelände</h4>
            <p class="reason">für die 40 jährige Betreuung eines der stimmigsten
              Festivalgelände Europas–und der Jugendkultur</p>
            <a class="link" href="http://www.wiesen.at" target="_blank">www.wiesen.at</a>
          </div>
        </div>

        <div class="pin linz" data-location="2">
          <div class="marker"></div>
          <div class="city">Linz</div>
          <div class="content">
            <h4>Frau Dietrich</h4>
            <p class="reason">für vorbildhafte Gestaltung des
              Schwellenbereichs und Pflege der Baratmosphäre</p>
            <a class="link" href="http://www.frau-dietrich.at/" target="_blank">www.frau-dietrich.at</a>
          </div>
        </div>

        <div class="pin wien" data-location="3">
          <div class="marker"></div>
          <div class="city">Wien</div>
          <div class="content">
            <h4>Club Courage</h4>
            <p class="reason">für die Förderung von Zivilcourage in der Clubkultur</p>
            <a class="link" href="http://www.clubcourage.at" target="_blank">www.clubcourage.at</a>
          </div>
        </div>

        <div class="pin graz first" data-location="4">
          <div class="marker"></div>
          <div class="city">Graz</div>
          <div class="content">
            <h4>Jugendkulturzentrum Explosiv</h4>
            <p class="reason">für die Entwicklung einer sozialen Lokalatmosphäre
              und Weiterbildung der Ehrenamtlichen</p>
            <a class="link" href="http://www.explosiv.at" target="_blank">www.explosiv.at</a>
          </div>
        </div>

        <div class="pin salzburg" data-location="5">
          <div class="marker"></div>
          <div class="city">Salzburg</div>
          <div class="content">
            <h4>220°</h4>
            <p class="reason">für das Zusammenführen von Kaffee-Konsumkultur und sozialer Gerechtigkeit</p>
            <a class="link" href="http://www.220grad.com" target="_blank">www.220grad.com</a>
          </div>
        </div>

        <div class="pin zell" data-location="6">
          <div class="marker"></div>
          <div class="city">Zell am See</div>
          <div class="content">
            <h4>Netzwerk Stadtgemeinde, Tourismusverband und Verein „Zell by night“</h4>
            <p class="reason">für Impulse zu einem respektvollen Nachtleben</p>
            <a class="link" href="http://www.ginhouse.at" target="_blank">www.ginhouse.at</a>
          </div>
        </div>

        <div class="pin dornbirn" data-location="7">
          <div class="marker"></div>
          <div class="city">Dornbirn</div>
          <div class="content">
            <h4>Polizeisportverband Vorarlberg</h4>
            <p class="reason">für jugendgerechte Selbstverteidigungskurse mit Nightlife-Bezug</p>
            <a class="link" href="http://www.psv-vorarlberg.at" target="_blank">www.psv-vorarlberg.at</a>
          </div>
        </div>

      </div>

      <div class="category sport">

        <div class="pin puchberg" data-location="8">
          <div class="marker"></div>
          <div class="city">Puchberg am<br>Schneeberg</div>
          <div class="content">
            <h4>Move your mind</h4>
            <p class="reason">für aufmerksame Vorbereitung und allragsnahe
              Reflexion von Erlebnissen im Hochseilgarten</p>
            <a class="link" href="http://www.moveyourmind.at" target="_blank">www.moveyourmind.at</a>
          </div>
        </div>

        <div class="pin graz second" data-location="9">
          <div class="marker"></div>
          <div class="city">Graz</div>
          <div class="content">
            <h4>Bloc-house</h4>
            <p class="reason">für Impulse zu Entschleunigung und
              Beziehungskultur in der Boulderhalle.</p>
            <a class="link" href="http://www.bloc-house.at" target="_blank">www.bloc-house.at</a>
          </div>
        </div>

      </div>

    </div>

    <div class="legend">

      <div class="nightlife locations">
        <h3>Gastronomie & Nightlife</h3>

        <ul>
          <li><a data-location="1" href="http://www.wiesen.at" target="_blank">
            Jazzpub und Festivalgelände, Wiesen
          </a></li>

          <li><a data-location="2" href="http://www.frau-dietrich.at/" target="_blank">
            Frau Dietrich, Linz
          </a></li>

          <li><a data-location="3" href="http://www.clubcourage.at" target="_blank">
            Club Courage, Wien
          </a></li>

          <li><a data-location="4" href="http://www.explosiv.at" target="_blank">
            Jugendkulturzentrum Explosiv, Graz
          </a></li>

          <li><a data-location="5" href="http://www.220grad.com" target="_blank">
            220°, Salzburg
          </a></li>

          <li><a data-location="6" href="http://www.ginhouse.at" target="_blank">
            Zell by night, Zell am See
          </a></li>

          <li><a data-location="7" href="http://www.psv-vorarlberg.at" target="_blank">
            Polizeisportverband Vorarlberg, Dornbirn
          </a></li>

        </ul>
      </div>

      <div class="sport locations">
        <h3>Spiel & Sport</h3>
        <ul>
          <li><a data-location="8" href="http://www.moveyourmind.at" target="_blank">
            Move your mind, Puchberg am Schneeberg
          </a></li>

          <li><a data-location="9" href="http://www.bloc-house.at" target="_blank">
            Bloc-house, Graz
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="media">

    <h2>Presse / Videos / Fotos</h2>

    <%= link_to "Download Presseaussendung (PDF)",
        asset_path("hra-2015-presseaussendung.pdf"),
        :class => 'press-download', :target => '_blank' %>

    <ul class="videos">

      <li>
        <iframe width="300" height="169"
                src="https://www.youtube.com/embed/nHdkf1vq0i0?rel=0"
                frameborder="0" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="300" height="169"
                src="https://www.youtube.com/embed/IgMMj2ZlBqI?rel=0"
                frameborder="0" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="300" height="169"
                src="https://www.youtube.com/embed/Y1mTiIKX06A?rel=0"
                frameborder="0" allowfullscreen></iframe>
      </li>

    </ul>

    <%= image_tag 'projects/hr-award/winners-photo-banner.jpg', :class => 'photos' %>

  </div>

  <div class="header">
    <p class="transition">
      Und so seid auch Ihr dabei: Bis Ende November jeden Jahres werden
      Betriebe zu ihren Maßnahmen zur Rausch- und Risikobalance getestet...
    </p>
  </div>

  <div class="categories row">

    <div class="category sport span4">

      <%= image_tag 'shared/hr-award-sport-location-badge.svg', :class => 'logo' %>

      <h2>Spiel &amp; Sport</h2>

      <%= link_to "Kriterien ansehen", static_path('projekte/high-and-responsible/spiel-sport'), :class => 'register' %>

    </div>

    <div class="category nightlife span4">

      <%= image_tag 'shared/hr-award-nightlife-location-badge.svg', :class => 'logo' %>

      <h2>Gastro &amp; Nightlife</h2>

      <%= link_to "Kriterien ansehen", static_path('projekte/high-and-responsible/gastro-nightlife'), :class => 'register' %>

    </div>

  </div>

  <div class="certification">

    <h3>CERTIFIED LOCATION</h3>

    <p class="intro">Die Benefits für 10 High &amp; Responsible Locations:</p>

    <ul class="benefits">

      <li>Zertifikat HIGH+REPONSIBLE LOCATION 2014(15/16)</li>
      <li>Infomaterial für BesucherInnen</li>
      <li>Kostenlose Rauch-Fruchtsäfte für eine Veranstaltung</li>
      <li>Einladung zum High &amp; Responsible Medienevent</li>
      <li>Dokumentation im gemeinsamen Werbefilm</li>
      <li>Linksetzung zur Unternehmenswebsite auf der High &amp; Responsible Landkarte</li>

    </ul>

  </div>

  <div class="sponsors row">

    <div class="span8 offset2">
      <ul class="logos row">

        <li class="span2">
          <a href="http://www.pernod-ricard-austria.com" target="_blank">
            <%= image_tag 'projects/hr-award/pernot-ricard-austria-logo.svg', :class => 'logo' %>
          </a>
        </li>

        <li class="span2">
          <a href="http://www.boehringer-ingelheim.at/" target="_blank">
            <%= image_tag 'projects/hr-award/bi-logo.png', :class => 'logo' %>
          </a>
        </li>

        <li class="span1">
          <a href="http://www.kinderjugendgesundheit.at/" target="_blank">
            <%= image_tag 'projects/hr-award/liga-logo.svg', :class => 'logo' %>
          </a>
        </li>

        <li class="span1">
          <a href="http://www.alpenverein.at/" target="_blank">
            <%= image_tag 'projects/hr-award/oeav-logo.png', :class => 'logo' %>
          </a>
        </li>

        <li class="span2">
          <a href="http://www.rauch.cc/" target="_blank">
            <%= image_tag 'projects/hr-award/rauch-logo.png', :class => 'logo' %>
          </a>
        </li>

      </ul>

      <p class="become-sponsor">
        Wenn auch sie Rausch- und Risikobalance fördern und ins High &
        Responsible-Netzwerk als Sponsor einsteigen wollen, senden Sie uns ein
        <%= encoded_email 'E-Mail', 'agnes.koller@qualitaetleben.at' %> – gerne kommen wir mit Ihnen in Kontakt.
      </p>
    </div>
  </div>

</div>
