<% page_title('Der High & Responsible Award') %>
<% page_stylesheet('extern/pages/projects/high_and_responsible', :media => 'all') %>
<% page_javascript('extern/pages/hr-winners') %>

<% content_for :headline  do %>
  <h1>Der High &amp; Responsible Award</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait' %>
<% end %>

<div id="hr-award">

  <div class="header">

    <%= image_tag 'shared/hr-award-logo.svg', :class => 'hr-award-badge' %>

    <p>
      Business as unusual – nachhaltige Beiträge zu einer gelingenden Rausch-
      und Risikokultur  von 16- bis 25- Jährigen sind gefragt – in Vergnügungsparks,
      Discos, Einkaufszentren und Gastronomiebetrieben ebenso wie auf Sport- und
      Spielplätzen, Kletterhallen, Berghütten, Schwimmbädern und Hochseilgärten …
    </p>

    <p>
      Jährlich werden 10 Betriebe, die einem von ExpertInnen entwickelten
      Bewertungsverfahren entsprechen, als <strong>High &amp; Responsible Location
      Certified 2014/15/16</strong> ausgezeichnet: Sie werden in  Medienpräsentationen
      vorgestellt und sind in einer österreichweiten web-Landkarte vertreten.
      Sie prägen als Vorreiter eine neue Erlebniskultur: high and responsible!
    </p>

  </div>

  <h2 id="winners">DIE GEWINNER:</h2>

  <div class="map">
    <%= image_tag 'projects/hr-award/map/austria-map.svg', :class => 'country' %>

    <div class="years">
      <div class="button custom-select">
        <select>
          <option value="2015" selected>Jahr 2015</li>
          <option value="2014">Jahr 2014</li>
        </select>
      </div>
    </div>

    <div class="winners active" data-year="2015">
      <%= render 'pages/projekte/hr-winners/2015-hr-winners' %>
    </div>

    <div class="winners" data-year="2014">
      <%= render 'pages/projekte/hr-winners/2014-hr-winners' %>
    </div>

  </div>

  <div class="media">

    <h2>Ankündigungen</h2>
    
    <div class="links">
      <%= link_to "Fachsymposium HIGH LIFE / 8.11.2016",
                  asset_path("AV_aka_folder-broschuere_high-life_web_fin.pdf"),
                  :target => '_blank' %>
    </div>

    <h2>Presse / Videos / Fotos</h2>

    <div class="links">
      <%= link_to "Download Presseaussendung HRA 2016 (PDF)",
                  asset_path("hra-2016-presseaussendung.pdf"),
                  :target => '_blank' %>

      <%= link_to "Download Presseaussendung HRA 2015 (PDF)",
                  asset_path("hra-2015-presseaussendung.pdf"),
                  :target => '_blank' %>

      <%= link_to "Artikel im KURIER, 23.4.2015",
                  "http://m.kurier.at/karrieren/management/risiko-und-verantwortung-sind-kein-gegensatz/126.767.598",
                  :target => '_blank' %>

      <%= link_to "Beitrag im Magazin bergauf",
                  asset_path("bergauf-hr-bericht-balanceakt.pdf"),
                  :target => '_blank' %>

    </div>

    <ul class="videos">

      <li>
        <iframe width="300" height="169"
                src="https://www.youtube.com/embed/nHdkf1vq0i0?rel=0"
                frameborder="0" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="300" height="169"
                src="https://www.youtube.com/embed/IgMMj2ZlBqI?rel=0"
                frameborder="0" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="300" height="169"
                src="https://www.youtube.com/embed/Y1mTiIKX06A?rel=0"
                frameborder="0" allowfullscreen></iframe>
      </li>

    </ul>

    <%= image_tag 'projects/hr-award/winners-photo-banner.jpg', :class => 'photos' %>

  </div>

  <div class="header">
    <p class="transition">
      Und so seid auch Ihr dabei: Bis Ende November jeden Jahres werden
      Betriebe zu ihren Maßnahmen zur Rausch- und Risikobalance getestet...
    </p>
  </div>

  <div class="categories row">

    <div class="category sport span4">

      <%= image_tag 'shared/hr-award-sport-location-badge.svg', :class => 'logo' %>

      <h2>Spiel &amp; Sport</h2>

      <%= link_to "Kriterien ansehen", static_path('projekte/high-and-responsible/spiel-sport'), :class => 'register' %>

    </div>

    <div class="category nightlife span4">

      <%= image_tag 'shared/hr-award-nightlife-location-badge.svg', :class => 'logo' %>

      <h2>Gastro &amp; Nightlife</h2>

      <%= link_to "Kriterien ansehen", static_path('projekte/high-and-responsible/gastro-nightlife'), :class => 'register' %>

    </div>

  </div>

  <div class="certification">

    <h3>CERTIFIED LOCATION</h3>

    <p class="intro">Die Benefits für 10 High &amp; Responsible Locations:</p>

    <ul class="benefits">

      <li>Zertifikat HIGH+REPONSIBLE LOCATION 2014(15/16)</li>
      <li>Infomaterial für BesucherInnen</li>
      <li>Kostenlose Rauch-Fruchtsäfte für eine Veranstaltung</li>
      <li>Einladung zum High &amp; Responsible Medienevent</li>
      <li>Dokumentation im gemeinsamen Werbefilm</li>
      <li>Linksetzung zur Unternehmenswebsite auf der High &amp; Responsible Landkarte</li>

    </ul>

  </div>

  <div class="sponsors row">

    <div class="span8 offset2">
      <ul class="logos row">

        <li class="span2">
          <a href="http://www.pernod-ricard-austria.com" target="_blank">
            <%= image_tag 'projects/hr-award/pernot-ricard-austria-logo.svg', :class => 'logo' %>
          </a>
        </li>

        <li class="span2">
          <a href="http://www.boehringer-ingelheim.at/" target="_blank">
            <%= image_tag 'projects/hr-award/bi-logo.png', :class => 'logo' %>
          </a>
        </li>

        <li class="span1">
          <a href="http://www.kinderjugendgesundheit.at/" target="_blank">
            <%= image_tag 'projects/hr-award/liga-logo.svg', :class => 'logo' %>
          </a>
        </li>

        <li class="span1">
          <a href="http://www.alpenverein.at/" target="_blank">
            <%= image_tag 'projects/hr-award/oeav-logo.png', :class => 'logo' %>
          </a>
        </li>

        <li class="span2">
          <a href="http://www.rauch.cc/" target="_blank">
            <%= image_tag 'projects/hr-award/rauch-logo.png', :class => 'logo' %>
          </a>
        </li>

      </ul>

      <p class="become-sponsor">
        Wenn auch sie Rausch- und Risikobalance fördern und ins High &
        Responsible-Netzwerk als Sponsor einsteigen wollen, senden Sie uns ein
        <%= encoded_email 'E-Mail', 'agnes.koller@qualitaetleben.at' %> – gerne kommen wir mit Ihnen in Kontakt.
      </p>
    </div>
  </div>

</div>
