<% page_title('Impressum') %>
<% page_stylesheet('extern/pages/impressum', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Impressum</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait' %>
<% end %>

<article class="span8 offset2">
  
  <div class="content-box">
    <p>risflecting<sup>&reg;</sup> freut sich über Ihren Besuch auf dieser Website und Ihr Interesse. 
      Sie werden eventuell um die Angabe persönlicher Informationen gebeten. Die 
      Beantwortung dieser Fragen ist freiwillig. Ihre persönlichen Daten werden in 
      Übereinstimmung mit den Datenschutzbestimmungen Österreichs gespeichert.</p>
  </div>
  
  <h2>Datenschutz</h2>

  <p>
    Hier finden sie unsere
    <%= 
      link_to "Datenschutzerklärung",
      asset_path("datenschutz.pdf"),
      :target => '_blank'
    %>
  </p>

  <h2>Copyright</h2>

  <p>Alle Rechte vorbehalten. Text, Bilder, Grafiken, Sound, Animationen und Videos 
    sowie deren Anordnung.</p>

  <p>Websites unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze.
  Der Inhalt dieser Websites darf nicht zu kommerziellen Zwecken kopiert, verbreitet, 
  verändert oder Dritten zugänglich gemacht werden.</p>

  <h2>Garantie</h2>

  <p>Diese Website wurde mit größtmöglicher Sorgfalt zusammengestellt. Trotzdem 
    kann risflecting<sup>&reg;</sup> für die Fehlerfreiheit und Genauigkeit der enthaltenen 
    Informationen nicht garantieren. risflecting<sup>&reg;</sup> schließt jegliche Haftung für 
    Schäden, die direkt oder indirekt aus der Benutzung dieser Website entstehen, 
    aus, soweit diese nicht auf Vorsatz oder grober Fahrlässigkeit von risflecting<sup>&reg;</sup> 
    beruhen.</p>

  <h2>FORUM LEBENSQUALITÄT ÖSTERREICH</h2>

  <p><strong>Vereinssitz:</strong> Pfarrgasse 10, A-2340 Mödling<br/>
  <strong>Büro:</strong> Wiesenerstraße 5, A-7202 Bad Sauerbrunn</p>
  
  <h2>Website Gestaltung &amp; Programmierung<h2>
  <p><strong>Dominik Guzei</strong> 
    (<%= encoded_email 'Email senden', 'dominik.guzei@gmail.com' %> |
     <%= link_to 'Website', 'http://codeadventure.com' %>)
  </p>

</article>
