<% page_title('Konzept') %>
<% page_stylesheet('extern/pages/konzept', :media => 'all') %>
<% page_javascript('extern/pages/konzept') %>

<% content_for :headline  do %>
  <h1>Das Konzept</h1>
<% end %>

<p class="intro">
  <strong>SPRING ...</strong> risflecting – ein pädagogisches Handlungsmodell zur Entwicklung von Rausch- und Risikobalance
</p>

<div class="row">
  
  <aside id="article-navigation" class="span4">
    <ol>
      <li><a href="#chapter-1">Nur wer bereit zu Aufbruch ist und Neubeginne ...</a></li>
      <li><a href="#chapter-2">Das wilde Tier reiten</a></li>
      <li><a href="#chapter-3">Gesellschaftliche Polaritäten...</a></li>
      <li><a href="#chapter-4">risflecting – ein neues Kommunikationsmodell</a></li>
      <li><a href="#chapter-5">Wie aus Impuls Erlebnis – und aus Erlebnis Erfahrung werden kann</a></li>
      <li><a href="#chapter-6">Lebenskompetenzen als Voraussetzung für die Entwicklung von risflecting</a></li>
      <li><a href="#chapter-7">Lebensqualität als Voraussetzung für Genusskultur</a></li>
      <li><a href="#chapter-8">Feste feiern</a></li>
      <li><a href="#chapter-9">risflecting aus der Vogelperspektive</a></li>
      <li><a href="#chapter-10">Abschluss und Ausblick</a></li>
    </ol>
  </aside>

  <article class="span8">
    
    <section id="chapter-1">
      <h2>Nur wer bereit zu Aufbruch ist und Neubeginne ...</h2>

      <p>Erinnern Sie sich? Als Kinder erlebten wir Alltagstrancen, wenn wir in der Wiese liegend Wolkenbilder beobachteten, 
        und atemlose Spannung, wenn wir uns hinter Bäumen im Spiel versteckten ... Das waren Momente voll Lebenskraft, die 
        uns heute noch tragen, wenn wir uns ihrer erinnern. Vibrierende oder weiche Momente, die davon künden, dass das Leben 
        ein kraftvoller Fluss ist ...</p>

      <p>Später suchen wir Menschen dieses Gefühl verdichteten Lebens bei Festen (ob in der Familie, im Bierzelt oder in der 
        Religion), bei Stammtischen, Fußballspielen, Konzerten, Raves oder Events, beim Hüttenzauber oder in Spielcasinos, 
        in der Kletterwand, am Berg oder beim Sport, bei Demonstrationen, im Shopping, Medien- oder Machtrausch, in Erotik 
        und Sexualität, an der Börse oder beim Motorrad- oder Autofahren, bei der Arbeit oder in Seminaren, in der Kunst und 
        bei Reisen: die Welt ist voll von Rausch- und Risikoerlebnissen. Und leer, was Hilfestellungen betrifft, 
        diese zu kultivieren ...</p>

      <p>Rausch- und Risikobalance gelingt in einer Kultur der Achtsamkeit und des Dialogs. Den beginnen wir, wenn wir einsehen, 
        dass dem Konsum legalisierter oder illegalisierter Drogen kein Problem oder Mangel zugrunde liegen muss. Auch wer taucht, 
        bungeejumpt, snowboardet oder die sexuelle Begegnung sucht, hat kein grundsätzliches Problem, sondern ist vor allem 
        eines: Mensch. Und verdient als solche/r Achtung und Begleitung – und Landkarten bei seinem Sprung ins 
        Außeralltägliche ...</p>

      <p>Auf den folgenden Seiten finden Sie solche Landkarten, die auch Landekarten sein sollen: damit nicht nur der Sprung, 
        sondern auch die Landung gelingt.</p>
    </section>

    <section id="chapter-2">
  
      <h2>Das wilde Tier reiten</h2>

      <p>Kick und Flow, Rausch und Risiko: das Außeralltägliche zu suchen, ist Teil unseres Alltags geworden. So sollten wir uns 
        auch von einer – lange Zeit unhinterfragten, aber populären – Grundannahme verabschieden: Menschen suchen nicht nur deshalb 
        Risiken oder greifen zu Drogen, weil sie damit psychischen und sozialen Problemen kurzzeitig entfliehen wollen oder 
        Selbstheilung anstreben, sondern – weil die Rauscherfahrung Genuss, Entspannung, community und fun verspricht!</p>

      <p>Wer da der Spaß-Kultur der Jugendlichen bloß die Ernstkultur der Erwachsenen gegenüberstellen kann, wird das notwendige 
        offene Gespräch nicht führen können – über all das, was Menschen außerhalb ihres Alltags finden wollen: Er-lösung, 
        Abenteuer, Geborgenheit, andere Wirklichkeiten, die über den gesellschaftlich definierten Rahmen hinausführen, 
        schließlich: Initiation.</p>

      <p>Das in diesen Bilder-Buch vorgestellte risflecting-Modell versteht sich als Beitrag zu einer risikokompetenten Pädagogik, 
        die nicht nur Risiken definiert, sondern das Rausch- und Risikohafte an sich als wesentliche Entwicklungssehnsucht des 
        Menschen begreift.</p>

      <p>Unter Rausch wird hier eine prozesshafte Veränderung sinnlicher und sozialer Wahrnehmung hinsichtlich Eindrücken, Emotionen, 
        Grenzen und Konventionen verstanden. Die Erfahrungen, die Menschen darin machen wollen, können nach dem Grad ihrer Intensität 
        in Form einer Spirale dargestellt werden:</p>

      <%= image_tag "konzept/spirale.jpg" %>

      <p>Risiko wiederum meint die Verbindung von Ungewissheit und Bedeutsamkeit, die mit einem Ereignis einhergeht und zur 
        Auseinandersetzung mit ihm und seinen Folgen auffordert.</p>

      <p>In Bezug auf die oben dargestellten Rauschwirkungen besteht das Risiko in der Umkehrung der Erfahrungen in ihre problematischen 
        Formen: mangelnder Alltagsbezug – Trunkenheit – kritiklose Selbstvergessenheit – Exzess.</p>

      <p>Rausch und Risiko als Erlebensformen des Außeralltäglichen stehen immer im Bezug zum Alltag der Betroffenen – und können so 
        seiner Erweiterung oder aber der Flucht aus seiner Umklammerung dienen. Jede Initiative einer Gesellschaft, den Umgang mit 
        dem Außeralltäglichen zu kultivieren, muss daher der Gestaltung eines lebenswerten Alltags beginnen.</p>

      <p>Rausch und Risiko: sie sind die Nachtseite bzw. die Polarzonen unserer alltäglichen Welt:</p>

      <%= image_tag "konzept/globus.jpg" %>

      <p>In diesen Zonen des Außeralltäglichen gelten die Regeln des Alltags nicht – eine an die Vernunft appellierende Pädagogik 
        rüstet demgemäß nicht ausreichend dafür aus, die Expedition in die sprach- und vernunft-fernen Regionen bestehen zu können.</p>

      <p>Oberstes Ziel jeder Rausch- und Risikopädagogik muss es daher sein, Menschen Möglichkeiten in die Hand zu geben, das wilde 
        Tier zu reiten. Denn nur wer die Balance hält: zwischen Ekstase und Verzicht, Sicherheit und Gefahr, Heimat und Neuland, 
        Chaos und Ordnung, Wasser und Wein, kann das Abenteuer bestehen, das in jeder Substanz und in jedem Risikoerlebnis 
        auf uns wartet.</p>

      <p>Wer nun meint, das wilde Tier ließe sich durch Vernunft zähmen, irrt. Um das Rodeo bestreiten zu können, braucht es</p>
      <ul>
        <li>ein Netz von guten Freunden, das auffängt</li>
        <li>Gespür für den eigenen Körper</li>
        <li>und Sensibilität für das Wohin, Wieviel und Wozu.</li>
      </ul>

      <p>Die dem risflecting-Ansatz zugrundeliegenden Erkenntnisse und Erfahrungen aus den ersten 12 Jahren seiner Anwendung in 
        verschiedenen Lebensbereichen ermutigen zu dem Schluss: Der Umgang mit Rausch und Risiko kann kultiviert werden – wenn 
        die Rahmenbedingungen stimmen. Und da ist noch einiges zu tun...</p>

    </section>

    <section id="chapter-3">
  
      <h2>Gesellschaftliche Polaritäten...</h2>

      <p>Rausch und Risiko sind in unserer Gesellschaft höchst ambivalent gebrauchte Begriffe: auf der einen Seite werden sie als 
        mögliche Gefährdung für die menschliche Stabilität und Gesundheit problematisiert bzw. moralisch verworfen – auf der 
        anderen Seite von politischen, wirtschaftlichen und sozialen Kräften als wichtige Faktoren in p.r. und der Inszenierung 
        von sozialen und politischen events erkannt und eingesetzt. So ist insbesondere der Freizeitbereich junger Menschen als 
        rauschhaftes „no risk-no fun“-Patchwork komponiert.</p>

      <p>Mit der Bewältigung und Überbrückung dieser gesellschaftlichen Doppelbotschaft werden insbesondere 
        Jugendliche allein gelassen.</p>

      <h3>...und pädagogische Konsequenzen</h3>

      <p>Wie auch immer: Das Bedürfnis nach Risikosituationen und rauschhaften Erfahrungen ist im Menschen verankert, ihm wird 
        täglich millionenfach auf verschiedenste Weise nachgegangen. Wer würde verleugnen, dass Sexualität eine Rauscherfahrung 
        ist? Dies ruft nach Auseinandersetzung und Kultivierung.<br/>Hier steht insbesondere die Prävention, die die 
        Negativ-Wirkungen all dieser Sehnsüchte einzuschränken hat, im Dilemma einer Tradition, die seit etwa 200 Jahren das 
        Kind mit dem Bade ausschüttet: Im Kampf gegen problematische Auswirkungen, die keineswegs zwingend sind, werden auch 
        die ihnen zugrundeliegenden Bedürfnisse problematisiert und oftmals bekämpft.</p>

      <p>Durch diesen Versuch der Minimierung von Risiko- und Rauschsituationen werden aber Gesundheitspolitik und Prävention 
        zunehmend als weltfremd erlebt. Pädagogik, die Rausch und Risiko ausschließlich mit Gefahren und Tod assoziiert, hilft 
        Menschen nicht, Kommunikation zwischen ihrem Lebensalltag und ihren außeralltäglichen Sehnsüchten und Erfahrungen 
        aufzubauen. Sie spaltet vielmehr in zwei Bewusstseinsbereiche: ein von Kontrollmoral besetztes „Über-Ich“ und ein 
        triebhaftes „Es“. Für das mit Schuldgefühlen erlebte „Es“ wird fortan keine Verantwortung übernommen („Ich weiß 
        nicht, was ich gestern gesagt habe – ich war ja betrunken“). Die fatale Folge solcher Entwicklungen von 
        Verantwortungslosigkeit sind täglich in den Medien anhand des Verhaltens von Verantwortlichen (?) zu beobachten. 
        Sie gipfeln im Dr. Jekyll-Mr. Hyde-Phänomen der zerrissenen Persönlichkeit.</p>

      <p>Da pädagogische Maßnahmen nur dann erfolgversprechend sind, wenn sie lebenswelt-orientiert geplant und durchgeführt 
        werden, folgern ExpertInnen in diesem Arbeitsgebiet vermehrt, dass Rausch- und Risikobedürfnisse aus dem Problemzirkel 
        herausgelöst und als grundlegende menschliche Verhaltens- und Erlebensräume betrachtet werden müssen. So ist es auch 
        für eine effiziente Gesundheitsförderung nicht zuträglich, wenn das Phänomen „Rausch“ mit dem zwangs- und 
        abhängigkeitsorientierten Phänomen „Sucht“ assoziiert wird:</p>

    </section>
    
    <section id="chapter-4">
      <h2>risflecting – ein neues Kommunikationsmodell:</h2>

      <p>Immer deutlicher wird daher der Auftrag an alle, die junge Menschen ins Leben begleiten: statt der Minimierung von 
        Rausch- und Risikosituationen eine <strong>Optimierung</strong> des Verhaltens und der Rahmenbedingungen zu erreichen.</p>

      <p>Statt des im 4. Jahrhundert n. Chr. Umformulierten Gebet einer von Ängsten vor Machtverlust geplagten westlichen 
        Gesellschaft, die im „Vater unser“ seit 1700 Jahren „und führe uns nicht in Versuchung“ sollten wir den Urtext des 
        Jesus-Gebets wieder zum pädagogischen Paradigma machen: „Und führe uns in der Versuchung.“ Die Wortwahl sagt 
        bereits alles: Ja – die Versuchung gibt es. Und: Ja – es gibt Führungsinstrumente, die es möglich machen, mit 
        der Versuchung umzugehen.</p>

      <p>Damit diese Führungsinstrumente in und zwischen Menschen aktiviert werden
      können, bedarf es der Entwicklung</p>
      <ul>
        <li>persönlicher Kompetenzen</li>
        <li>offener Kommunikationsformen über Erfahrungen und Erlebnisse in Gruppen</li>
        <li>und gesellschaftlicher Integrationsformen sowie der Kultivierung des Dialogs über das Rausch- und Risikohafte.</li>
      </ul>

      <p>Der diesbezügliche Forschungs- und Handlungsansatz findet in Europa vermehrt praktische Anwendung und wird mit dem 
        Begriff <strong>RISFLECTING©</strong> beschrieben. Risflecting greift die aktuellen Ergebnisse der Gehirnforschung 
        auf, die besagen, dass das menschliche Gehirn in drei evolutionären Phasen entstanden ist:</p>

      <ul>
        <li>Das sogenannte Reptiliengehirn mit Hirnstamm und Kleinhirn, das für die Sicherung der existenziellen Funktionen 
          und Emotionen zuständig ist.</li>
        <li>Das ältere Säugetiergehirn, das als Mittelhirn mit Hippocampus und Amygdala unsere Gefühle und Erinnerungen an 
          Gefühle und Orte – somit die soziale Dimension unseres Lebens steuert.</li>
        <li>Und das jüngere Säugetiergehirn, die Großhirnrinde: Die hier angelegten Funktionen ermöglichen Sprache, Planung 
          und komplexe Gefühle wie Selbstreflexion.</li>
      </ul>

      <%= image_tag "konzept/pyramide.jpg" %>

      <p>Da das lernende Gehirn neue Synapsen zwischen den Neuronen nur in freudvoller Gestimmtheit, also bei Ausschüttung 
        von Dopamin, Endorphinen oder Serotonin, bildet, lassen neuropharmakologische Forschungsergebnisse eine wesentliche 
        Schlussfolgerung zu: ein optimaler Umgang mit Rausch und Risiko wird nicht durch plakative Warnungen vor den 
        Gefahren, sondern durch den Aufbau einer kommunikativen Brücke zwischen alltäglicher Vernunft und dem „Sozialbereich“ 
        in den gefühlssteuernden Zentren unseres Gehirns gewährleistet (<em>vgl. Hepp, Duman, 2000</em>).</p>

      <p>Damit werden soziologische und kulturgeschichtliche Erkenntnisse bestätigt, die besagen, dass Gesellschaften, die 
        Risiko- und Rausch-Erfahrungen integrieren, diese Erfahrungen für das Individuum und die Gesellschaft nutzbar 
        machen können – und damit auch Problementwicklungen vorbeugen: Das Wagnis, ein <strong>RIS</strong>iko 
        einzugehen / Rausch zu erleben, wird durch Vor- und Nachbereitung, also durch Re<strong>FLEKT</strong>ion, 
        einschätzbar und in den Alltag integriert.</p>

      <%= image_tag "konzept/existenzielle-bedrohung.png" %>

      <p>Die Pfeile deuten die Brückenfunktion von risflecting an.</p>

      <p>Die hier dargestellten drei Erfahrungsbereiche menschlichen Lebens entsprechen den gezeigten Entwicklungsstufen 
        und Aufgabenbereichen des menschlichen Gehirns:</p>
      <ul>
        <li>Überleben in der Gefahren- und Todeszone</li>
        <li>Entwickeln von Gefühlen</li>
        <li>Strukturieren durch Vernunft.</li>
      </ul>

      <p>Die gesellschaftlich/pädagogische Reaktion auf Risiko- und Rauschbedürfnisse, dass diese nur durch Vernunftmaßnahmen 
        kontrollierbar seien – ansonsten ausnahmslos der Weg in die Gefahren- und Todeszone führe, lässt gerade die 
        wesentlichen Lern- und Kommunikationsmöglichkeiten im sozialen Gefühlsbereich unberücksichtigt.</p>

      <p>Erst die Interaktion zwischen vernunftgeleitetem Alltag und selbstgewähltem Wagnis macht also die Optimierung und 
        Kultivierung von Rausch- und Risikoverhalten möglich. Diese Brücke will risflecting bauen: Denn nur die Kommunikation 
        zwischen beiden Bewusstseinsbereichen sichert die Ver<strong>ANTWORT</strong>ung des Individuums und der 
        Gesellschaft für Rausch- und Risikosituationen. A propos Gesellschaft: ist Ihnen schon aufgefallen, dass das 
        Wort von Geselle/in kommt und mit Geselligkeit verwandt ist?</p>

      <p>risflecting© verfolgt also folgende Ziele:</p>
      <ul>
        <li>Integration von Rausch- und Risikoerfahrungen auf persönlicher, sozialer und gesellschaftlicher Ebene</li>
        <li>Nutzbarmachung dieser Erfahrungen für die Alltags- und Lebensgestaltung</li>
        <li>Übernahme von Verantwortung für außeralltägliches Verhalten durch Rauschkultur und Risikobalance. Dies meint 
          insbesondere die Vor- und Nachbereitung solcher Erfahrungen durch die bewusste Wahrnehmung und Gestaltung 
          von Set (innerer Bereitschaft) und Setting (äußerem Umfeld).</li>
      </ul>

      <p>Dialoggruppen von risflecting sind nicht Problemkonsumenten von Substanzen und Missbraucher, nicht Personen und 
        Gruppen mit exzessivem Risikoverhalten. Solche Personengruppen bedürfen oft therapeutischer oder beraterischer 
        Hilfestellung oder Maßnahmen zur Verbesserung ihres Alltags.</p>

      <p>Risflecting zielt vielmehr darauf ab, jener großen Gruppe von Personen, die Risikosituationen unbewusst eingehen 
        und Rauscherfahrungen unreflektiert konsumieren, bewusste Kultivierungsmöglichkeiten anzubieten.</p>

    </section>

    <section id="chapter-5">
      <h2>Wie aus Impuls Erlebnis – und aus Erlebnis Erfahrung werden kann:</h2>

      <p>Vor und Nachbereitung: Das sind die Säulen jeder reflektierenden Rausch- und Risikokultur. Vor- und Nachbereitung 
        können geübt werden – vom komplexen Ritual naturnaher Völker bis zur einfachen Packliste vor Antritt einer Reise. 
        Und egal, wohin die Reise führt – in das Reich der Sexualität, in die Wildnis der Natur, in die psychonautische 
        Tiefe unseres Innenlebens – der Ablauf dieses Stimmigkeitschecks läuft immer nach dem selben Schema ab und nützt 
        alle Kompetenzen unserer 3 Gehirnbereiche:</p>

      <%= image_tag "konzept/vom-impuls-zum-erlebnis.png" %>

      <p>risflecting kann dabei folgende Handlungsressourcen optimieren:</p>
      <ul>
        <li>
          <p><strong>BREAK</strong></p>
          <p>Die Kompetenz, vor dem Eingehen auf eine Risikosituation kurz inne zu halten – und dabei innere Bereitschaft, 
            psychische und physische Verfassung sowie soziale und Umweltfaktoren miteinander in Abstimmung zu bringen, 
            bevor die Entscheidung zur Handlung getroffen wird – wird BREAK genannt. Dieser durchaus kurze Wahrnehmungs- 
            und Entscheidungsprozess ist weniger kognitiver als emotionaler Natur – zumal auch die Wahrnehmung der 
            eigenen Körpersignale wichtiger Teil dieser Kompetenz ist.</p>
        </li>
        <li>
          <p><strong>LOOK AT YOUR FRIENDS</strong></p>
          <ul>
            <li>soziale Wahrnehmung auf zweifache Weise: „Schau, wer deine Freunde sind – und schaut aufeinander, wenn 
              ihr gemeinsam unterwegs seid“</li>
            <li>offener Dialog über Rausch- und Risikosehnsüchte, -erfahrungen, und -strategien</li>
          </ul>
        </li>
        <li>
          <p><strong>REFLECT</strong></p>
          <p>Außeralltägliche Erfahrungen bedürfen der Reflexion auf individueller und sozialer Ebene, um nachhaltig wirken 
            zu können und für den Alltag nutzbar zu sein. Erst die Integration in das alltägliche Leben – gerade im Sinne 
            einer gesundheitsfördernden „Kultur der Balance“ – beugt Fluchttendenzen oder Bewusstseinsspaltungen (wie sie 
            beispielsweise den gesellschaftlichen Umgang mit Alkohol bestimmen) vor.<br/>
          <em>Wolf Singer</em> hat entdeckt, dass hormonell gesteuerte vereinheitlichende neuromale Oszillationen im 
          Schwingungsbereich von 40 Hz die größtmögliche Zusammenbindung von Erfahrungen ermöglichen. Reflexionsfördernde 
          Settings wie eine angenehme Gesprächsatmosphäre führen zur Entwicklung dieser Oszillationen (<em>Singer</em> bei 
          <em>Klein, 2002</em>). Somit muss also auch Reflexion nicht als rein kognitiver, sondern vielmehr als sozialer 
          Akt verstanden werden, der einen Prozess positiver Gefühle auslöst und nachhall-tiges Lernen ermöglicht.</p>
        </li>
      </ul>
    </section>

    <section id="chapter-6">
      <h2>Lebenskompetenzen als Voraussetzung für die Entwicklung von risflecting</h2>

      <p>Um Rausch- und Risikokompetenz zu entwickeln, bedarf es grundsätzlicher intellektueller, sozialer und emotionaler 
        Fähigkeiten. Diese zu bilden ist Ziel der Pädagogik, aber auch der Gesundheitsförderung. Hier bietet sich die 
        Kooperation zwischen Fachkräften an, deren Aufgabe es ist, Menschen auf dem Weg zu begleiten. Denn die Fähigkeit, 
        mit Rausch- und Risikosituationen umzugehen, ist die Spitze eines Eisbergs von generellen Lebenskompetenzen:</p>

      <p>So ist eine allgemeine <strong>Konsumkompetenz</strong> wichtige Voraussetzung für die speziellen Kompetenzen, die 
        risflecting anstrebt – damit ist gemeint, einen Rhythmus zwischen Genuss- und Verzichtsituationen zu entwickeln: Der 
        vom Dopamin-Erwartungssystem gesteuerte Lustimpuls, als angenehm empfundene Zustände zu wiederholen, führt, wenn er 
        nur auf immer die selbe Weise befriedigt wird, zu immer niedrigeren Endorphin-Ausschüttungen im linken Scheitellappen 
        des Stirnhirns. Dosissteigerungen sind in der Regel die Folge. Der Rhythmus und die Balance zwischen Genießen und 
        Verzichten ist daher ein ebenso wesentliches Ziel wie auch die Entwicklung verschiedener Rausch- und Risikostrategien 
        nach der alten Weisheit „Variatio delectat“ (vgl. auch das Klaviermodell nach <em>Koller, 1994</em>).</p>

      <%= image_tag "konzept/klaviermodell.png" %>

      <p>Die Fähigkeiten, die ein Mensch zur Krisenbewältigung, aber auch, um Lust und Freude zu empfinden, entwickelt hat, 
        sind für die Suchtvorbeugung von großer Bedeutung. Symbolhaft kann mittels 10 Tasten einer Klaviertastatur beschrieben 
        werden: Hier finden wir neben pädagogisch und gesellschaftlich erwünschten Tasten auch kreative Modelle eigener Art, 
        Gewohnheiten und Ersatzhandlungen.</p>

      <p>Welche Möglichkeiten der Krisenbewältigung hat nun ein junger Mensch, der uns als Beispiel dienen mag:</p>
      <ul>
        <li>Taste 1: Sport</li>
        <li>Taste 2: TV</li>
        <li>Taste 3: Spaziergang in der Natur</li>
        <li>Taste 4: Gespräch mit einer vertrauten Person</li>
        <li>Taste 5: Sich betrinken</li>
        <li>Taste 6: Sich an einen Therapeuten wenden</li>
        <li>Taste 7: Musik hören und sich zurückziehen</li>
        <li>Taste 8: Lesen</li>
        <li>Taste 9: Tagebuch schreiben</li>
        <li>Taste 10: Bleibt offen: ...................................</li>
      </ul>

      <p>Ein anachronistisches Päventionsverständnis hätte der Taste 5 viel Aufmerksamkeit geschenkt – und sie damit wichtig gemacht.</p>

      <p>Das ist sie jedoch nicht – und somit auch keine Suchtgefahr – solange der Mensch alle 10 Tasten bedient – sein 
        breites Reservoir an Ressourcen wird ihn davor bewahren, von einer Taste abhängig zu werden. (Was wir ja alle – 
        wenn wir ehrlich sind – aus unseren eigenen Lebenserfahrungen kennen: Wer kennt nicht jene Momente, in denen uns 
        „alles egal“ ist und wir die Taste 5 drücken – die für manche vielleicht „Schokolade“ heißt.)</p>

      <p>Die Suchtdynamik tritt erst dann ein, wenn Ressourcen verloren gehen, bzw. immer weniger Tasten genützt werden.</p>

      <p>***</p>

      <p>Der offene <strong>Dialog</strong> über Rausch- und Risikosituationen und -erfahrungen gelingt nur dann, wenn in allen 
        Bereichen des Alltags der Dialog gepflegt wird: risflecting lehnt daher den Begriff der „Zielgruppe“ als Machtinstrument 
        ab, das Menschen entwürdigt (wer würde schon die eigenen Kinder als „Zielgruppe“ bezeichnen?), ihnen nicht auf Augenhöhe 
        begegnet und damit Potentiale der Entfaltung ungenützt lässt – und
      spricht von „Dialoggruppen“.</p>

      <p>Um mit diesen in Dialog über Rausch- und Risikobedürfnisse, -erfahrungen und -strategien zu kommen, findet die Frage nach 
        dem Warum keine Anwendung – sie zielt auf Gründe und wird oft als moralisierend erlebt. Mit der Frage nach dem Wozu 
        hingegen öffnet sich der Gesprächs- und Gedankenraum hin zum Nutzen, den Menschen in Rausch- und Risikoerfahrungen erwarten.</p>

      <p>***</p>

      <p>Und <strong>Übung in Selbstwahrnehmung</strong> ist eine wichtige Voraussetzung dafür, die eigene Befindlichkeit 
        situativ und aktuell wahrzunehmen: Beginnend bei der sensiblen Wahrnehmung der körperlichen Befindlichkeit in 
        Stress- und Entspannungssituationen über die Entwicklung einer adäquaten Sinnlichkeit auf allen Ebenen führt sie 
        zur Integration von persönlichen und sozialen Ritualen, die das Alltägliche wie das
      Außeralltägliche strukturieren.</p>

    </section>

    <section id="chapter-7">
  
      <h2>Lebensqualität als Voraussetzung für Genusskultur</h2>

      <p>Insbesondere die Risikotypen von <em>Guzei</em> zeigen, dass risflecting nur gelingen kann, wenn der Alltag jener 
        Menschen, die Rausch- und Risikoerfahrungen suchen, strukturell abgesichert ist. Wer keine Arbeit hat, obdachlos ist, 
        wem es an Lebenssinn fehlt oder wer allgemein in gesundheitsschädigenden strukturellen Rahmenbedingungen lebt, läuft 
        wesentlich häufiger Gefahr, Risikosituationen nicht aus dem Motiv der Erfahrungssuche oder des Genusses aufzusuchen, 
        sondern als Kompensation, Flucht aus unerträglichen Lebensbedingungen oder im Sinne eines Selbstheilungsversuchs.</p>

      <h3>7 Verhaltensweisen im Umgang mit Rausch und Risiko</h3>

      <%= image_tag "konzept/verhaltensweisen.png" %>

      <p>Gesundheitsfördernde Rahmenbedingungen sind also eine wichtige Voraussetzung dafür, dass risflecting greifen kann.</p>

    </section>

    <section id="chapter-8">
      <h2>Feste feiern</h2>

      <p>Ein großer Schwerpunkt in der praktischen Umsetzung von risflecting© ist die Auseinandersetzung mit Festen als 
        Rausch- und Risikoräumen und die Entwicklung einer entsprechenden Festkultur, die die Vor- und Nachbereitung solcher 
        kollektiver Erlebnisse vorsieht.</p>

      <p>„Ein Fest gewährt unverkrampfte Selbstbegegnung, Selbst- und Gruppenidentität [...] Erlebe ich größere Wachheit, 
        intensivere Kommunikation, größere Weite, dann habe ich nicht länger das <em>beunruhigende</em> Gefühl, das zu verpassen, 
        was eigentlich mein Leben sein könnte.“ (<em>Martin 1973</em>)</p>

      <p>Das Fest zeichnet sich auch durch seinen spielerischen Charakter aus. Es bietet einen kreativen Raum, in dem neue 
        Formen der Interaktion und der Symbolisation entstehen können. Darin liegt auch die Fähigkeit des Festes, einen 
        Neubeginn zu schaffen, eine neue Form des Interagierens und der Beziehung zur Welt auch im Alltag zu erproben.</p>

      <p>Bei Mangel an Festkultur als einem Teil des sozialen Klimas kommt es zu folgenden Auswirkungen:</p>
      <ul>
        <li>Kompensation durch exzessiven Konsum von bewusstseinsbeeinflussenden Substanzen, Gewalt bis zur kriegerischen 
          Auseinandersetzung</li>
        <li>Soziale Ersatzformen wie Sekten, radikale Gruppierungen</li>
        <li>Degeneration des sozialen Klimas</li>
      </ul>

      <p>Dem gegenüber kann eine bewusst gestaltete Festkultur folgendes bewirken bzw. verstärken:</p>
      <ul>
        <li>Psychische Balance durch die Balance von Chaos- und Ordnungselementen sowie durch Wertschätzung von Person und 
          Lebensganzem (Gefühl der Stimmigkeit)</li>
        <li>Soziale Beheimatung in der Gruppe durch initiatorische Einweihung in neue Lebensphasen, verbesserte Kommunikation
            und Partizipationsmöglichkeit am Fest- und Alltagsgeschehen</li>
        <li>Verstärkung des sinnlichen Empfindens</li>
        <li>Entwicklungsmöglichkeit durch die Herauslösung aus Alltagsbezügen: Die Veränderung bestehender Konstrukte und 
          Kommunikationsabläufe (Traditionen) führt zur Einleitung neuer Entwicklungen bis in den gesellschaftspolitischen Bereich.</li>
      </ul>

      <p>Eine bewusste Festgestaltung kann diese Ziele erreichen, indem sie folgende Parameter beachtet:</p>
      <ul>
        <li>Ein Fest ist so gut wie seine Vorbereitung.</li>
        <li>Den Eintritt aus dem Alltag in den Festraum macht eine Schwelle bewusst.</li>
        <li>Ein gemeinsames, klares und kreatives Festthema hilft Gemeinschaft zu bilden.</li>
        <li>Wer an einem Fest teilnimmt, wird auch aufgefordert teilzugeben.</li>
        <li>Feste brauchen Struktur und Freiraum.</li>
        <li>Es gilt, in den Alltag integrierbare Regressionsräume zu schaffen.</li>
        <li>Es braucht Höhepunkte.</li>
        <li>Nach der Ekstase braucht es Raum zur Entspannung (chill-out).</li>
      </ul>

      <p>Gerade das Fest als soziales Ereignis macht deutlich: Pädagogik handelt fernab (zwischen-)menschlichen Alltags, wenn 
        sie sich mit ihren Botschaften nur an die Einzelnen wendet. Denn gerade das Außeralltägliche suchen Menschen vornehmlich 
        in Gruppen auf – diese aber entscheiden und agieren wesentlich risikobereiter, als es Einzelne tun würden. Im Schutz der 
        Gruppe entstehen schnell Illusionen von Sicherheit („irgendwer wird schon wissenﰀ“), in der Dynamik einer Gruppe schnell 
        Euphorie: der sogenannte Gruppenschub ist die Folge. Mit ihm beschäftigt sich risflecting in seiner rausch- und 
        risikopädagogischen Begleitung gleichrangig mit den Entscheidungsgrundlagen der Einzelnen. Das auch deshalb, weil es 
        gerade Gruppen oder Massen sind, die mit dem Einsatz von Rauschstimulanz politisch oder wirtschaftlich funktionalisiert 
        wurden und werden. Diese dunkle Seite des Rausch- und Risikohaften findet viel zu wenig an öffentlicher Bedeutung ...</p>

    </section>

    <section id="chapter-9">
  
      <h2>risflecting aus der Vogelperspektive</h2>

      <p>Angenommen, Sie wollten risflecting in wenigen Worten beschreiben (wie ich es oft genötigt bin zu tun) – was 
        charakterisiert diesen Ansatz der Rausch- und Risikopädagogik, womit versucht er, Veränderungen einzuleiten? 
        Mein Profil dieses weiter wachsenden und sich vertiefenden Unternehmens wird von 5 Charakteristika bestimmt:</p>

      <ul>
        <li>risflecting differenziert – wie sie den Grafiken entnehmen können – zwischen Risiko und Gefahr.</li>
        <li>Mit Epikur weiß risflecting, dass „die Bedingungen für Geselligkeit immer vorab herzustellen“ sind.</li>
        <li>Dazu gehört, den gesell-schaftlichen Dialog über Rausch und Risiko und die Entwicklungspotentiale, die in der 
          Integration des Außeralltäglichen liegen, zu enttabuisieren.</li>
        <li>Es braucht die Pflege von Empathie als Grundlage von Rausch- und Risikobalance. risflecting betreibt diese 
          mittels der Kulturtechnik LOOK AT YOUR FRIENDS.</li>
        <li>Balance während des Rausch- und Risikoerlebens gelingt durch Vor- und Nachbereiten dieses Erlebens: BREAK und 
          REFLECT stellen dies in den Vordergrund – und werden durch Übung zur Selbst-verständlichkeit.</li>
      </ul>

    </section>

    <section id="chapter-10">
  
      <h2>Abschluss und Ausblick</h2>

      <p>Auf welcher Ebene auch immer: Beginnen wir die bewusste Auseinandersetzung, den achtungsvollen Umgang mit jungen 
        Menschen, aber bleiben wir in diesem Entwicklungsprozess nicht bei den KonsumentInnen stehen. Eine alte Volksweisheit 
        sagt: Ein guter Rausch braucht eine gute Unterlage – und die ist allemal noch der gesellschaftliche Kontext, 
        in dem wir leben und handeln ...</p>

      <p>Gerald Koller, Mai 2012</p>
      <br/>
      <br/>

      <p>Gerald Koller: Risikopädagoge, Zusammendenker, changemaker</p>

      <p><em>Gerald Koller hat 25 Jahre seines Arbeitslebens als Fachberater, Referent und Autor im Brückenbereich zwischen 
        Gesundheit und Kommunikation verbracht – und dabei Baupläne für die präventive Arbeit mit Jugendlichen entwickelt, 
        die europaweit Anwendung finden. Nach seiner Mitarbeit beim Aufbau der modernen Suchtprävention in Österreich und 
        der peer group education in verschiedenen europäischen Regionen sah er die pädagogische Aufgabe, das Bedürfnis 
        von (jungen) Menschen nach Rausch und Risiko als Entwicklungspotential zu erkennen – und ihnen Möglichkeiten in 
        die Hand zu geben, ihren Umgang damit zu kultivieren. Die dabei notwendige Ent-tabuisierung öffnet den Weg von 
        der Bewahrungs- zur Bewährungspädagogik. Auf ihr basiert risflecting, der von Gerald Koller entwickelte Ansatz 
        der Rausch- und Risikopädagogik. Heute wird im gesamten deutschsprachigen Raum dieses Konzept von ausgebildeten 
        Fachleuten in Schulen, Betrieben, Beratungseinrichtungen, Jugendzentren, Freizeitparks im Dienste der Sucht- 
        und Gewaltprävention, der alpinen und der Verkehrserziehung angewandt und weiter entwickelt.</em></p>

      <p><strong>Für seine Entwicklungsarbeit wurde Gerald Koller von Ashoka, der weltgrößten Organisation für social change, 
        zum Ashoka fellow berufen.</strong></p>

      <br/>
      <p>Literatur, auf die in diesem Artikel Bezug genommen wird:</p>

      <p>
      Duman, R. et al: Neuronal plasticidy and survival in mood disorders, in: Biol. Psychiatry 48, 2000.<br/>
      Klein, S.: Die Glücksformel, Reinbek bei Hamburg, 2002.<br/>
      Koller, G.: ZuMutungen – ein Leitfaden zur Suchtvorbeugung für Theorie und Praxis, BMUJF, 3. Auflage, 1999.<br/>
      Koller, G.: Das Fest als Rausch- und Risikoraum, in: Feste feiern. Ausstellungsband zur OÖ. Landesausstellung Waldhausen, 2002.<br/>
      Rolls, E.: The brain and emotion, Oxford, 1999.<br/>
      </p>

      <br/>
      <p><strong>Weitere Links:</strong><br/>
      <%= link_to "www.alternativehappyhours.com", "http://www.alternativehappyhours.com", :target => '_blank' %><br/>
      <%= link_to "www.alpenverein.at/risk-fun", "http://www.alpenverein.at/risk-fun", :target => '_blank' %><br/>
      <%= link_to "www.risflecting.at", "http://www.risflecting.at", :target => '_blank' %><br/>
      </p>

      <p>Die Reise durch die förderlichen Bedingungen, damit Rausch- und Risikobalance gelingen kann führt von jungen 
        Menschen und Gruppen über eine Bewährungspädagogik, die ihre souveräne Begleitung aus der Verankerung in einer 
        dialogbereiten Gesellschaft bezieht. Eine Utopie? Teilen Sie mit dem risflecting-pool den Weg der Veränderung ... </p>

      <h2>Individuelle , pädagogische und gesellschaftliche Ziele und Haltungen von risflecting:</h2>

      <%= image_tag "konzept/ziele-von-risflecting.png" %>

    </section>

  </article>
  
  <div id="chapter-page-navigation" class="span8 offset4">
    <a href="" id="previous-chapter-button">&lt; voriges Kapitel</a>
    <a href="" id="next-chapter-button">nächstes Kapitel &gt;</a>
  </div>
</div>