<% page_title('Links') %>
<% page_stylesheet('extern/pages/links', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Hotspots und Links</h1>
<% end %>

<article class="row">

  <p class="span12">Die Kultivierung von Rauschkultur und Risikokompetenz wird von namhaften Einrichtungen getragen und von Partnerorganisationen im gesamten deutschsprachigen Raum weiter entwickelt. Um die Angebote der risflecting-Partner und -Träger näher kennen zu lernen, klicken sie den Namen der jeweiligen Einrichtung an:</p>

  <section class="span6 vertical">
    <h2>Träger / Kuratorium:</h2>
    <ul>
      <li><%= link_to "Stadt Wien / MA 13 - Jugendreferat", "http://www.bildungjugend.wien.at", target: :new %></li>
      <li><%= link_to "Landesjugendreferat Salzburg", "http://www.salzburg.gv.at/themen/gv/landesjugendreferat.htm", target: :new %></li>
      <li><%= link_to "Amt für Jugendarbeit Provinz Bozen-Südtirol", "http://www.provinz.bz.it/kulturabteilung/jugendarbeit/", target: :new %></li>
      <li><%= link_to "Alpenverein ÖAV", "http://www.alpenverein.at", target: :new %></li>
      <li><%= link_to "Landesjugendreferat Steiermark", "http://www.jugendreferat.steiermark.at/", target: :new %></li>
      <li><%= link_to "Landesjugendreferat Niederösterreich", "http://www.jugend-ok.at/", target: :new %></li>
      <li><%= link_to "Büro Vital", "http://www.vitalcommunities.at/", target: :new %></li>
    </ul>
  </section>
  
  <section class="span6">
    <h2>Partner Schweiz:</h2>
    <ul>
      <li><%= link_to "www.stadt-zuerich.ch/risikotest", "http://www.stadt-zuerich.ch/risikotest", target: :new %></li>
      <li><%= link_to "www.proception.ch", "http://www.proception.ch", target: :new %></li>
    </ul>
  </section>
  
  <section class="span6">
    <h2>Partner Österreich:</h2>
    <ul>
      <li><%= link_to "Verein Nomad", "http://www.nomad.or.at/index.php?seite=verein", target: :new %></li>
      <li><%= link_to "Erlebnisagentur Pyhrn-Priel", "http://www.erlebnisagentur.info/", target: :new %></li>
    </ul>
  </section>
  
  <section class="span6">
    <h2>Partner Deutschland: </h2>
    <ul>
      <li><%= link_to "www.genusskultur.eu ", "http://www.genusskultur.eu", target: :new %></li>
      <li><%= link_to "hafen und abenteuer", "http://www.hafenundabenteuer.de/", target: :new %></li>
    </ul>
  </section>
  
  <section class="span6">
    <h2>risflecting-Koordination:</h2>
    <ul>
      <li><%= link_to "Forum Lebensqualität Österreich", "http://www.qualitaetleben.at/", target: :new %></li>
    </ul>
  </section>
  
</article>
