<% page_title('Links') %>
<% page_stylesheet('extern/pages/links', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Hotspots und Links</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait' %>
<% end %>

<article class="row">

  <p class="span12">Die Kultivierung von Rauschkultur und Risikokompetenz wird von namhaften Einrichtungen getragen und von Partnerorganisationen im gesamten deutschsprachigen Raum weiter entwickelt. Um die Angebote der risflecting-Partner und -Träger näher kennen zu lernen, klicken sie den Namen der jeweiligen Einrichtung an:</p>

  <section class="span6 vertical">
    <h2>Träger / Kuratorium:</h2>
    <ul>
      <li><%= link_to "Stadt Wien / MA 13 - Jugendreferat", "http://www.bildungjugend.wien.at" %></li>
      <li><%= link_to "Landesjugendreferat Salzburg", "http://www.salzburg.gv.at/themen/gv/landesjugendreferat.htm" %></li>
      <li><%= link_to "Amt für Jugendarbeit Provinz Bozen-Südtirol", "http://www.provinz.bz.it/kulturabteilung/jugendarbeit/" %></li>
      <li><%= link_to "Alpenverein ÖAV", "http://www.alpenverein.at" %></li>
      <li><%= link_to "Landesjugendreferat Steiermark", "http://www.jugendreferat.steiermark.at/" %></li>
      <li><%= link_to "Landesjugendreferat Niederösterreich", "http://www.jugend-ok.at/" %></li>
      <li><%= link_to "Büro Vital", "http://www.vitalcommunities.at/" %></li>
    </ul>
  </section>
  
  <section class="span6">
    <h2>Partner Schweiz:</h2>
    <ul>
      <li><%= link_to "www.stadt-zuerich.ch/risikotest", "http://www.stadt-zuerich.ch/risikotest" %></li>
      <li><%= link_to "www.proception.ch", "http://www.proception.ch" %></li>
    </ul>
  </section>
  
  <section class="span6">
    <h2>Partner Österreich:</h2>
    <ul>
      <li><%= link_to "Verein Nomad", "http://www.nomad.or.at/index.php?seite=verein" %></li>
      <li><%= link_to "pyhrnPriel-erlebnisagentur", "http://www.risikobalance.at/" %></li>
    </ul>
  </section>
  
  <section class="span6">
    <h2>Partner Deutschland:</h2>
    <ul>
      <li><%= link_to "www.genusskultur.eu", "http://www.genusskultur.eu" %></li>
      <li><%= link_to "hafen und abenteuer", "http://www.hafenundabenteuer.de/" %></li>
    </ul>
  </section>
	
  <section class="span6">
    <h2>Partner Luxemburg:</h2>
    <ul>
      <li><%= link_to "4motion - Education for social change", "http://www.4motion.lu/" %></li>
    </ul>
  </section>
  
  <section class="span6">
    <h2>risflecting-Koordination:</h2>
    <ul>
      <li><%= link_to "Forum Lebensqualität Österreich", "http://www.qualitaetleben.at/" %></li>
    </ul>
  </section>
  
</article>
