<% page_title('Projekte') %>
<% page_stylesheet('extern/pages/projekte', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Projekte aus der Praxis</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Wolfgang Schöngruber',
        :role => 'risflecting<sup>&reg;</sup> guide',
        :image => 'portraits/thumb-portrait-wolfgang-schoengruber.jpg',
        :email => 'wo.schoengruber@ppea.at'
      }
  %>
<% end %>

<div class="span12">

  <aside class="intro">
    Im Rahmen des risflecting<sup>&reg;</sup>-Entwicklungspools werden Projekte durchgeführt
    und dokumentiert, die der Haltung, dem methodischen Ansatz und den
    Qualitätskriterien von risflecting<sup>&reg;</sup> entsprechen. Hier finden Sie Zugang zu
    solchen Projekten - und Möglichkeiten, sie für Ihre Anliegen und Vorhaben
    zu nützen:
  </aside>

  <article id="hr-award" class="row">

    <div class="image span4">
      <%= image_tag 'shared/hr-award-2014-logo.svg' %>
    </div>

    <div class="teaser span7">

      <h2>Der High &amp; Responsible Award</h2>

      <h3>Eine österreichweite Initiative zur Rausch- und Risikobalance in Nightlife,
        Spiel und Sport.</h3>

      <p>
        Business as unusual – nachhaltige Beiträge zu einer gelingenden Rausch- und
        Risikokultur  von 16- bis 25- Jährigen sind gefragt – in Vergnügungsparks,
        Discos, Einkaufszentren und Gastronomiebetrieben ebenso wie auf Sport- und
        Spielplätzen, Kletterhallen, Berghütten, Schwimmbädern und Hochseilgärten …
      </p>

      <!--
      <%= link_to "Weitere Infos & Details zur Anmeldung", static_path('projekte/high-and-responsible') %>
      -->
    </div>

  </article>

  <article id="face-the-risk" class="row">

    <div class="image span4">
      <%= image_tag 'projects/face-the-risk-teaser-image.png' %>
    </div>

    <div class="teaser span7">

      <h2>Face the Risk</h2>

      <h3>Feiern wie die Profis beim Summer Splash</h3>

      <p>
        Summer Splash ist erfolgreich zum größten Maturareisen-Event Europas
        geworden. Der Veranstalter Splashline pflegt seit jeher einen
        verantwortungsvollen Umgang mit den spezifischen Herausforderungen
        jugendlicher Festkultur.
      </p>

      <p>
        Im Sinne einer guten Zukunft der Jugendlichen – unter anderem der Bewältigung
        der möglichen Überbetonung des Alkoholkonsums – werden weitere Maßnahmen in
        Richtung einer ausgewogenen Festkultur gesetzt.
        Der risflecting®-ExpertInnenpool für Rausch- und Risikobalance stellt dafür
        als internationaler Kompetenzträger sein Know-how zur Verfügung.
      </p>

      <p>
        Ein Eckpfeiler der Zusammenarbeit ist die Aus- und Weiterbildung der rund
        240 Mates, die bei Summer Splash die MaturantInnen betreuen. Durch ihre
        Vorbild- und Peer-Wirkung sind sie die wichtigsten Multiplikatoren vor Ort.
        Weiter bietet risflecting® den TeilnehmerInnen ab Ende Mai diesen Jahres
        einen anonymen Risiko-Test auf der Website an. Mit diesem Tool können
        sich die Jugendlichen besser einschätzen und entsprechende Überlegungen
        zum eigenen Verhalten frühzeitig überlegen.
        Für den Vor-Ort-Einsatz bei Summer Splash wird seit 2013 bereits
        erfolgreich ein Verhaltens-Kodex erarbeitet und eingesetzt. Dieser wird
        laufend adaptiert und auf den neuesten Stand gebracht, so auch für das
        Summer Splash 2014.
      </p>

    </div>

  </article>

  <article id="oeav-schools" class="row">

    <div class="image span4">
      <%= image_tag 'projects/oeav-logo.png' %>
    </div>

    <div class="teaser span7">

      <h2>Schulprogramme</h2>

      <h3>Wege zur Rausch- und Risikokompetenz</h3>

      <p>
        Wir als Erwachsene haben den Auftrag, Jugendliche auf ihrem Weg zur
        Selbständigkeit zu begleiten. Die Balance im kompetenten Umgang mit
        Rausch- und Risikoerfahrungen zu finden, spielt dabei eine wesentliche
        Rolle. Wir gestalten ein spannendes Handlungsfeld, in dem persönliche
        Entscheidungskompetenzen entwickelt werden können. Wichtigstes Element
        dieses Programmes ist das Risikolabyrinth. Die drei Kulturtechniken von
        risflecting, „break“ – „look at your friends“ – „reflect“, werden uns
        bei diesem und bei anderen spannenden Abenteuern unterstützen.
      </p>

      <ul class="links">

        <li>
          <%= link_to "> Hier geht‘s zur Projekt Website des Alpenvereins", "http://www.alpenverein.at/jugend/schulprogramme/persoenlichkeitsentwicklung/leben_im_griff.php", :target => "_blank" %>
        </li>

        <li>
          <%= link_to "> Pyhrn-Priel-Erlebnisagentur", "http://www.pyhrnpriel-erlebnisagentur.at/soko-schulklassen.html", :target => "_blank" %>
        </li>

      </ul>

    </div>

  </article>

  <article id="aha" class="row">

    <div class="image span4">
      <%= image_tag 'projects/aha-logo.svg' %>
    </div>

    <div class="teaser span7">

      <h2>Alternative Happy Hours</h2>

      <h3>Das AHA Erlebnis: Alkoholkultur vermitteln</h3>

      <p>
        In den österreichischen Städten Mödling, Wr. Neudorf/Guntramsdorf,
        Bruck/Mur, Graz und Steyr sowie in Bozen/ Südtirol wurden Lokale
        akquiriert und begleitet, alternative Happy-Hour-Ange­bote zu entwickeln:
        Wer Alkohol trinkt, will Spaß und keine Probleme – es braucht also eine
        Alkoholkultur, die Spaß fördert und Probleme reduziert.
      </p>

    </div>

  </article>

  <aside class="info row">

    <h4>
      Außerdem möchten wir Ihr Interesse auf Maßnahmen lenken, die dem
      risflecting<sup>&reg;</sup>-Ansatz entsprechen:
    </h4>

    <ul>
      <li>
        Die Suchtpräventionsstelle der Stadt Zürich hat einen bemerkenswerten
        Risikotest auf Basis der Arbeiten von Michael Guzei und des risflecting<sup>&reg;</sup>-pools
        entwickelt: <%= link_to "www.stadt-zuerich.ch/risikotest", "http://www.stadt-zuerich.ch/risikotest", :target => "_blank" %>
      </li>

      <li>
        Drugtesting im großstädtischen Bereich:
        <%= link_to "www.checkyourdrugs.at/", "http://www.checkyourdrugs.at/", :target => "_blank" %>
      </li>

      <li>
        Ein europaweites Projekt zur Erhöhung der Risikokompetenz von Jugendlichen
        im Straßenverkehr finden sie bei
        <%= link_to "www.kfv.at/heim-freizeit-sport/internationale-zusammenarbeit/adrisk-projekt", "http://www.kfv.at/heim-freizeit-sport/internationale-zusammenarbeit/adrisk-projekt", :target => "_blank" %>.
      </li>

      <li>
        B`rauschend - Alkohol Kultur im ländlichen Raum:
        <%= link_to "www.akzente.net/b.rauschend", "http://www.akzente.net/b.rauschend", :target => "_blank" %>
      </li>

      <li>
        Und das weltweit erste peer group-education-Projekt zur Risikooptimierung
        unter: <%= link_to "www.risk-fun.com", "http://www.risk-fun.com", :target => "_blank" %>
      </li>
    </ul>
  </aside>

</div>
