<% page_title('Publikationen') %>
<% page_stylesheet('extern/pages/publikationen', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Publikationen</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Frank Schulte-Derne',
        :role => 'risflecting guide',
        :image => 'portraits/thumb-portrait-frank-schulte-derne.jpg',
        :email => 'fschulte-derne@arcor.de'
      }
  %>
<% end %>

<article class="row content-box">
  <h2 class="span12">SPRING ... UND LANDE </h2>
  
  <div class="info span8">
    <p>Buch + Film zum risflecting-Ansatz Erscheint im November 2012.<br/>
      Vorbestellungen per mail möglich (Subskriptionspreis: € 20,--).</p>
  </div>
</article>

<article class="row content-box">
  
  <h2 class="span12">HIGHMAT – ein Erzählkreis zu Jugend, Rausch und Risiko </h2>
    
  <div class="info span8">

    <p>Der Rausch - ein Thema, das provoziert, ein Phänomen, das in unserer Gesellschaft 
      durch öffentliche Moral tabuisiert wird und dennoch in vielfältiger Weise den 
      persönlichen und gesellschaftlichen Alltag durchzieht. Dem von Gerald Koller 
      herausgegebenen Buch liegt das Motto: „Wer nicht vom Weg abkommen will, bleibt auf der 
      Strecke“ zu Grunde: In drei vielfältigen, viele Genres umfassenden Erzählkreisen werden 
      Tabus in Frage gestellt, rauschhafte Erlebnisse – nicht aber die Sucht – als Ressource 
      für eigenverantwortliches, individuelles Lebensglück und gelingende Beziehungen 
      postuliert – sowie die Basis für einen bewussten Umgang mit Rausch und Risiko gelegt.</p>

    <p>"Erstes Ziel jeder Rausch- und Risikopädagogik muss es sein, Menschen Mittel in die 
      Hand zu geben, den wilden Hengst zu reiten. Denn nur wer die Balance hält: zwischen 
      Ekstase und Verzicht, Heimat und Abenteuer, Chaos und Ordnung, Wasser und Wein, kann 
      jenes wilde Tier reiten, das in jeder Substanz, in jedem Risikoerlebnis auf uns wartet."</p>

    <p>Dieses Buch ist nicht nur für PädagogInnen geschrieben, sondern für alle jene, die 
      sich mit diesem brisanten Thema bewusst auseinandersetzen wollen.</p>

    <p>Nach der Lektüre erscheint dann so manches in ganz anderem Licht.</p>

    <p>„Es ist das Hinaus-Weh, das zur Gründung neuer Heimaten führt“  – <em>Lea Butsch  
      (Theater Wilde Bühne, Stuttgart)</em></p>

    <p>Mit Beiträgen von Irene Apfalter, Markus J. Aringer, Thomas Berner, Gerald Brandtner, 
       Höchtler, Peter Koler, Gerald Koller, Johanna Pichler, Andrea Scartezzini, Martin 
       Schwiersch, Daniela Tatosa, Luis Töchterle, Joachim Willfahrt, Manfred Zentner und
       mit Fotos von Erich Pello; 184 S. , engl. brosch., ISBN 3-902300-19-1, € 13,90</p>

    <p>Verlag: EDITION ROESNER, Tel. u. Fax.: +43 (0)2236/23540, 
      <%= link_to 'www.edition-roesner.at', "http://www.edition-roesner.at" %></p>
  </div>
  
  <div class="cover span4">
    <%= image_tag "publikationen/highmat.jpg" %>
    <p><strong>Herausgeber:</strong> Gerald Koller</p>
  </div>
</article>

<article class="row content-box">
  
  <h2 class="span12">Mut zum Risiko. Herausforderungen für die Arbeit mit Jugendlichen </h2>
  
  <div class="info span8">
    <p>Absolute Sicherheit gibt es nirgends -- zum Glück! Gerade Jugendliche suchen das Risiko und den Nervenkitzel, um ihre Grenzen auszutesten und neue Erfahrungen zu sammeln. Für die Erwachsenen ist dies oft eine Gratwanderung: Wie können Jugendliche lernen, Verantwortung für sich selbst und andere zu übernehmen? Wie lassen sich handlungsorientierte Aktivitäten mit Jugendlichen spannend und dennoch risikobewusst gestalten? Wie kann Risiko- und Folgenabschätzung trainiert werden?</p>

    <p>Das Buch bietet neben wichtigen Grundlagen Einblicke in gelungene Projekte und konkrete Übungen zur Wahrnehmungs-, Beurteilungs- und Entscheidungskompetenz. Im Zentrum steht jeweils das Angebot an Jugendliche, Verantwortung zu übernehmen und aus den Erfahrungen Lebenskompetenz abzuleiten.</p>

    <p>Mit einem Vorwort von Alexander Huber.</p>

    <p>Mit Beiträgen von Beate Einetter, Jürgen Einwanger, Anna Fritz, Adalbert Gauss, Arne Goering, Thomas Greil, Michael Guzei, Elke Hafner, Ingrid Höchtler, Sybille Kalas, Sebastian Köhler, Doris Koller, Gerald Koller, Sylvia Kummetz, Michael Larcher, Johannes Margreiter, Astrid Mehr, Riki Meindl, Claudia Merkel, Martina Pfohl, Jürgen Raithel, Urs Rohr, Wolfgang Rometsch, Annemarie Rettenwander, Stefan Scholz, Wolfgang Schöngruber, Martin Schwiersch, Sophia Steidl-Bolzano, Dieter Stopper, Daniela Tatosa, Luis Töchterle, Daniela Tollinger, Walter Würtl, Manfred Zentner.</p>

    <p><em>Ernst Reinhardt Verlag München Basel, 2007.<br/>
      287 Seiten.<br/>
      Mit 67 Abbildungen und 5 Tabellen.<br/>
      Empfohlen vom Österreichischen Alpenverein.<br/>
      ISBN 13 (978-3-497-01934-2) kt <br/>
      € [D] 24,90 / € [A] 25,60 / SFr 42,70</em></p>
  </div>
  
  <div class="cover span4">
    <%= image_tag "publikationen/mut-zum-risiko.jpg" %>
    <p><strong>Herausgeber:</strong>  Jürgen Einwanger</p>
  </div>
</article>

<article class="row content-box">
  <h3 class="span12">Alkoholkonsum: Gesundheitliches Genusserleben oder Risiko? </h3>
  
  <div class="info span8">
    <p><strong>von:</strong> Claudia Fröse</p>

    <p>Die Masterthesis zur Umsetzung des risflecting-Ansatzes in der Gesundheitsförderung 
      finden Sie in Auszügen auf 
      <%= link_to "www.genusskultur.eu", "http://www.genusskultur.eu" %>.</p>
  </div>
</article>

<article class="row content-box">
  <h3 class="span12">Filme zur Arbeit von Gerald Koller</h3>
  
  <div class="info span8">
    <p>finden Sie auf <%= link_to "www.youtube.com", "http://www.youtube.com/results?search_query=Gerald+Koller" %> 
      und <%= link_to "austria.ashoka.org", "http://austria.ashoka.org/node/1700" %>.</p>
  </div>
</article>
