<% page_title('Studienzentrum') %>
<% page_stylesheet('extern/pages/studienzentrum', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Studienzentrum Risflecting</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Eva Deutsch',
        :role => 'risflecting<sup>&reg;</sup> guide',
        :image => 'portraits/thumb-portrait-eva-deutsch.jpg',
        :email => 'eva.deutsch@styriavitalis.at'
      }
  %>
<% end %>

<section class="row">
  <div class="span3 sophie-portrait">
    <%= image_tag "studienzentrum/sophia-reisinger-portrait.jpg" %>
    <div class="name">Sophia Reisinger, MSc</div>
    <div class="occupation">Aufbau des Studienzentrum Risflecting</div>
  </div>

  <div class="span9">
    <p class="contact">
      <span class="intro-german">Kostenfreier Zugang zu stetig wachsender, digitaler Mediendatenbank?</span>
      <span class="intro-english">Free Access to a constantly growing digital media database?</span>
      <span class="service-unavailable">
        Service bis auf Weiteres nicht verfügbar / Service currently not available
      </span>
      <!--
        <%= encoded_email 'Anfrage an das Studienzentrum (Send a request)', 'studienzentrum@risflecting.eu' %>
      -->
    </p>
    <p>
      Das SZR stellt Fachwissen zu den Themenfeldern Rausch- & Risiko, sowie den
      dahinterliegenden Dynamiken zur Verfügung. Es bietet Entscheidungsträgern
      die benötigten Expertisen um fundierte Strategien und Konzepte zu entwickeln.
      Außerdem hilft es Fachleuten & Praktikern, die in diesen Themenbereichen
      tätig sind, Erfolgsmodelle zu finden und neue Ansätze zu erkunden. Dafür
      werden Expertisen in verschiedenster Form zusammengetragen und ausgewertet.
    </p>
    <p>
      Die Ursprünge des heutigen SZR reichen bis in das Jahr 2002 zurück, als
      die <%= link_to 'Studie von Gerald Koller und Nicole Rögl mit dem Titel:
      risflecting®, Grundlagen, statements und Modelle zur Rausch- und Risikopädagogik',
      asset_path('gerald-koller-studie-risflecting.pdf') %>
      veröffentlicht wurde. Im folgenden finden Sie weitere empfehlenswerte
      Publikationen, verschiedener Autoren, die seit 2002 zum Themengebiet
      Rausch- & Risiko erschienen sind.
    </p>
    <!-- <p>
      <strong>Für detailliertere Infos, zu den Medien der Datenbank oder eine
      Zusammenstellung empfohlener Medien zu einem bestimmten Thema, bitte</strong>
      <%= encoded_email 'mail an Sophia Reisinger', 'studienzentrum@risflecting.eu' %>
    </p> -->
  </div>

</section>

<section class="row zotero-bibbase">
  <h2>Empfohlene Publikationen</h2>
  <script src="http://bibbase.org/show?bib=http%3A%2F%2Fbibbase.org%2Fzotero%2Frisflecting&jsonp=1"></script>
</section>
</div>
