<% content_for :headline  do %>
  <h1>Das Team</h1>
  <div id="sub-headline">
    Ein internationales Netzwerk von ExpertInnen entwickelt risflecting weiter
  </div>
<% end %>

<section>
  <p>Der risflecting-pool besteht aus etwa 60 PraktikerInnen und WissenschafterInnen, die sich in Projekten, Studien und politischen Überlegungen um die
  Weiterentwicklung der Rausch- und Risikopädagogik bemühen. Der pool verfolgt dabei folgende Ziele:</p>

  <p>Durch die Bereitstellung von wissenschaftlichen Grundlagen, Methoden und Dialogräumen soll der Entwicklung von Rausch- und Risikobalance auf drei
  Ebenen gedient werden :</p>

  <ul>
    <li>der Erhöhung der Kompetenzen im Umgang mit Rausch und Risiko (R+R-Kompetenz)</li>
    <li>der Verbesserung der Begleitung von Jugendlichen (R+R-Pädagogik)</li>
    <li>der Etablierung einer Kultur der Auseinandersetzung im gesellschaftlichen Dialog (R+R-Kultur)</li>
  </ul>

  <p><strong>Focal point dieser Gruppe ist der Entwickler und Koordinator von risflecting <%= link_to "Gerald Koller", static_path(:profil_gerald_koller) %>. Den risflecting-Ansatz vermitteln neben ihm ein internationaler Stab von TrainerInnen:</strong></p>

  <p>Wenn Sie das know-how des pools nutzen wollen, so treten Sie mit uns in Kontakt – der pool steht für Tagungsbeiträge, Vorträge und Seminare zur Verfügung.</p>
</section>

<section>
  <p><strong>Träger</strong> der fundierten Weiterentwicklung von risflecting sind 7 Einrichtungen der außerschulischen Jugendarbeit:</p>
  <ul>
    <li><%= link_to "Stadt Wien / MA 13 - Jugendreferat", "http://www.bildungjugend.wien.at", target: :new %></li>
    <li><%= link_to "Landesjugendreferat Salzburg", "http://www.salzburg.gv.at/themen/gv/landesjugendreferat.htm", target: :new %></li>
    <li><%= link_to "Amt für Jugendarbeit Provinz Bozen-Südtirol", "http://www.provinz.bz.it/kulturabteilung/jugendarbeit/", target: :new %></li>
    <li><%= link_to "Alpenverein ÖAV", "http://www.alpenverein.at", target: :new %></li>
    <li><%= link_to "Landesjugendreferat Steiermark", "http://www.jugendreferat.steiermark.at/", target: :new %></li>
    <li><%= link_to "Landesjugendreferat Niederösterreich", "http://www.jugend-ok.at/", target: :new %></li>
    <li><%= link_to "Büro Vital", "http://www.vitalcommunities.at/", target: :new %></li>
  </ul>
</section>
