<% page_title('Team') %>
<% page_stylesheet('extern/pages/team', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Das Team</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Agnes Koller',
        :role => 'risflecting coordination',
        :image => 'portraits/thumb-portrait-agnes-koller.jpg',
        :email => 'agnes.koller@qualitaetleben.at'
      }
  %>
<% end %>

<!-- uses http://emailencryptor.com/simple.html to encrypt mail adresses -->

<article>

  <section id="intro" class="row">

    <div class="span3">
      <div class="portrait">
        <%= image_tag 'portraits/portrait-gerald-koller.jpg' %>
        <p class="details">
          <span class="name">Gerald Koller</span>
          <span class="email">
            <%= encoded_email 'Email senden', 'gerald.koller@qualitaetleben.at' %>
          </span>
        </p>
      </div>

      <p id="koller-intro">Focal point dieser Gruppe ist der Entwickler und Koordinator von
      risflecting <%= link_to "Gerald Koller", static_path(:profil_gerald_koller) %>.</p>
    </div>

    <div class="span9">
      <div class="content-box">
        <p class="intro">Der risflecting-pool besteht aus etwa 60 PraktikerInnen und WissenschafterInnen, die sich in Projekten,
        Studien und politischen Überlegungen um die Weiterentwicklung der Rausch- und Risikopädagogik bemühen.
        Der pool verfolgt dabei folgende Ziele:</p>
      </div>

      <p>Durch die Bereitstellung von wissenschaftlichen Grundlagen, Methoden und Dialogräumen soll der Entwicklung
        von Rausch- und Risikobalance auf drei Ebenen gedient werden:</p>

       <ul>
        <li>der Erhöhung der Kompetenzen im Umgang mit Rausch und Risiko (R+R-Kompetenz)</li>
        <li>der Verbesserung der Begleitung von Jugendlichen (R+R-Pädagogik)</li>
        <li>der Etablierung einer Kultur der Auseinandersetzung im gesellschaftlichen Dialog (R+R-Kultur)</li>
      </ul>
    </div>
  </section>

  <section id="portraits" class="row">
    <div class="span12">
      <p><strong>Neben Gerald Koller entwickelt ein internationaler Stab von TrainerInnen
        risflecting weiter &hellip;</strong></p>
      <h2>Hier einige Mitglieder des internationalen Stabs von TrainerInnen:</h2>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-frank-schulte-derne.jpg' %>
      <div class="details">
        <span class="name">Frank Schulte-Derne</span>
		<span class="location"><strong>Standort: </strong>Deutschland</span>
        <span class="email"><%= encoded_email 'Email senden', 'fschulte-derne@arcor.de' %></span>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-herbert-tarmann.jpg' %>
      <div class="details">
        <span class="name">Herbert Tarmann</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
        <span class="email"><%= encoded_email 'Email senden', 'her_tarmann@hotmail.com' %></span>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-agnes-koller.jpg' %>
      <div class="details">
        <span class="name">Agnes Koller</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
        <span class="email"><%= encoded_email 'Email senden', 'agnes.koller@qualitaetleben.at' %></span>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-eva-deutsch.jpg' %>
      <p class="details">
        <span class="name">Eva Deutsch</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
        <span class="email"><%= encoded_email 'Email senden', 'eva.deutsch@styriavitalis.at' %></span>
      </p>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-stefan-deuss.jpg' %>
      <p class="details">
        <span class="name">Stefan Deuss</span>
		<span class="location"><strong>Standort: </strong>Deutschland</span>
		<span class="occupation"><strong>Berufsfeld: </strong>Kinder- und Jugendarbeit</span>
		<a class="website" href="http://www.hafenundabenteuer.de/">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'stefan@hafenundabenteuer.de' %></span>
      </p>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-wolfgang-schoengruber.jpg' %>
      <p class="details">
        <span class="name">Wolfgang Schöngruber</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
		<span class="occupation"><strong>Berufsfeld: </strong>Erlebnispädagogik, Erwachsenenbildung</span>
		<a class="website" href="http://www.pyhrnpriel-erlebnisagentur.at/">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'wo.schoengruber@ppea.at' %></span>
      </p>
    </div>
	
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-daniel-seebacher.jpg' %>
      <p class="details">
        <span class="name">Daniel Seebacher</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
		<span class="occupation"><strong>Beruf: </strong>pyhrnPriel-erlebnisagentur</span>
		<a class="website" href="http://www.pyhrnpriel-erlebnisagentur.at/">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'd.seebacher@ppea.at' %></span>
      </p>
    </div>
	
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-harald-jansenberger.jpg' %>
      <div class="details">
        <span class="name">Harald Jansenberger</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
		<span class="occupation"><strong>Beruf: </strong>pyhrnPriel-erlebnisagentur</span>
		<a class="website" href="http://www.pyhrnpriel-erlebnisagentur.at/">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'h.jansenberger@ppea.at' %></span>
      </div>
    </div>
	
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-gary-diderich.jpg' %>
      <p class="details">
        <span class="name">Gary Diderich</span>
		<span class="location"><strong>Standort: </strong>Luxemburg</span>
		<span class="occupation"><strong>Beruf: </strong>Trainer &amp; Facilitator</span>
		<a class="website" href="http://www.4motion.lu/">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'gary.diderich@4motion.lu' %></span>
      </p>
    </div>
	
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-annemarie-ohnoutka.jpg' %>
      <p class="details">
        <span class="name">AnneMarie Ohnoutka, MSc</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
		<span class="occupation"><strong>Berufsfeld: </strong>Gesundheitsprojekte, Unternehmensberatung</span>
        <span class="email"><%= encoded_email 'Email senden', 'annemarie.ohnoutka@aon.at' %></span>
      </p>
    </div>
	
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-kurt-koenigsberger.jpg' %>
      <p class="details">
        <span class="name">E.Kurt Königsberger</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
		<span class="occupation"><strong>Beruf: </strong>Rausch &amp; Risikopädagoge</span>
		<a class="website" href="http://www.elkurto.at.tc/">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'svbmost@yahoo.de' %></span>
      </p>
    </div>
	
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-christine-pichlhoefer.jpg' %>
      <p class="details">
        <span class="name">Christine Pichlhöfer, MSc</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
		<span class="occupation"><strong>Berufsfeld: </strong>Geschlechtersensible Psychotherapie</span>
		<a class="website" href="http://members.aon.at/psychodrama">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'psychodrama@net-works.at' %></span>
      </p>
    </div>
	
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-gerald-brandtner.jpg' %>
      <p class="details">
        <span class="name">Gerald Brandtner</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
		<span class="occupation"><strong>Berufsfeld: </strong>Suchtprävention</span>
		<a class="website" href="http://www.akzente.net/Fachstelle.1474.0.html">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'g.brandtner@akzente.net' %></span>
      </p>
    </div>
	
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-peter-holzknecht.jpg' %>
      <p class="details">
        <span class="name">Peter Holzknecht</span>
		<span class="location"><strong>Standort: </strong>Italien</span>
		<span class="occupation"><strong>Berufsfeld: </strong>Offene Jugendarbeit</span>
		<a class="website" href="http://bunkertreff.school-award.it/">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'info@bunkertreff.com' %></span>
      </p>
    </div>
	
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-achim-lernbass.jpg' %>
      <p class="details">
        <span class="name">Achim Lernbass</span>
		<span class="location"><strong>Standort: </strong>Österreich</span>
		<span class="occupation"><strong>Berufsfeld: </strong>streetwork, jugendsozialarbeit</span>
		<a class="website" href="http://www.streetworkmuerztal.at/">Website besuchen</a>
        <span class="email"><%= encoded_email 'Email senden', 'achim.lernbass@isop.at' %></span>
      </p>
    </div>
  </section>

  <section class="row">
    <div class="span12">
      <p class="tip">Wenn Sie das know-how des pools nutzen wollen, so treten Sie mit uns in Kontakt – der pool steht für Tagungsbeiträge, Vorträge und Seminare zur Verfügung.</p>

      <h2>Träger</h2>
      <p>der fundierten Weiterentwicklung von risflecting sind 7 Einrichtungen der
        außerschulischen Jugendarbeit:</p>

      <ul id="sponsors">
        <li><%= link_to "Stadt Wien / MA 13 - Jugendreferat", "http://www.bildungjugend.wien.at" %></li>
        <li><%= link_to "Landesjugendreferat Salzburg", "http://www.salzburg.gv.at/themen/gv/landesjugendreferat.htm" %></li>
        <li><%= link_to "Amt für Jugendarbeit Provinz Bozen-Südtirol", "http://www.provinz.bz.it/kulturabteilung/jugendarbeit/" %></li>
        <li><%= link_to "Alpenverein ÖAV", "http://www.alpenverein.at" %></li>
        <li><%= link_to "Landesjugendreferat Steiermark", "http://www.jugendreferat.steiermark.at/" %></li>
        <li><%= link_to "Landesjugendreferat Niederösterreich", "http://www.jugend-ok.at/" %></li>
        <li><%= link_to "Büro Vital", "http://www.vitalcommunities.at/" %></li>
      </ul>
    </div>
  </section>
</article>
