<% page_title('Team') %>
<% page_stylesheet('extern/pages/team', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Das Team</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Agnes Koller',
        :role => 'risflecting<sup>&reg;</sup> coordination',
        :image => 'portraits/thumb-portrait-agnes-koller.jpg',
        :email => 'agnes.koller@qualitaetleben.at'
      }
  %>
<% end %>

<!-- uses http://emailencryptor.com/simple.html to encrypt mail adresses -->

<article>

  <section id="intro" class="row">

    <div class="span6">
      <div class="content-box">
        <div class="intro">Der risflecting<sup>&reg;</sup>-pool besteht aus 80 ExpertInnen, die sich in Projekten,
        Studien und politischen Überlegungen um die Weiterentwicklung der Rausch- und Risikopädagogik bemühen.
        Der pool verfolgt dabei folgende Ziele:</div>
      </div>

      <div>Durch die Bereitstellung von wissenschaftlichen Grundlagen, Methoden und Dialogräumen soll der Entwicklung
        von Rausch- und Risikobalance auf drei Ebenen gedient werden:</div>

       <ul>
        <li>der Erhöhung der Kompetenzen im Umgang mit Rausch und Risiko (R+R-Kompetenz)</li>
        <li>der Verbesserung der Begleitung von Jugendlichen (R+R-Pädagogik)</li>
        <li>der Etablierung einer Kultur der Auseinandersetzung im gesellschaftlichen Dialog (R+R-Kultur)</li>
      </ul>

    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-gerald-koller.jpg' %>
      <div class="details">
        <div class="name">Gerald Koller</div>
        <div class="occupation">Gesundheit und Kommunikation</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="/profil_gerald_koller">&gt; Mehr zur Person</a>
          <div class="email"><%= encoded_email '> Email senden', 'gerald.koller@qualitaetleben.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-agnes-koller.jpg' %>
      <div class="details">
        <div class="name">Agnes Koller</div>
        <div class="occupation">focalpoint, Koordination intern</div>
        <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'agnes.koller@qualitaetleben.at' %></div>
        </div>
      </div>
    </div>

    <div class="shift6 span3">Focal point dieser Gruppe ist der Entwickler und Koordinator von
    risflecting<sup>&reg;</sup> <%= link_to "Gerald Koller", static_path(:profil_gerald_koller) %>.</div>

    <div class="span3">Die Dialogagentur des Vereins „risflecting Pool“ betreut <%= encoded_email 'Agnes Koller', 'agnes.koller@qualitaetleben.at' %></div>

  </section>

  <section id="portraits" class="row">
    <div class="span12">
      <p><strong>
        Neben Gerald Koller entwickelt ein internationales Netzwerk von
        ExpertInnen Maßnahmen zur Rausch- und Risikobalance weiter:
      </strong></p>
    </div>

    <!-- <div class="portrait span3">
      <%= image_tag 'portraits/portrait-frank-schulte-derne.jpg' %>
      <div class="details">
        <div class="name">Frank Schulte-Derne</div>
        <div class="occupation">Sozialpädagogik</div>
		    <div class="location"><strong>Standort: </strong>Deutschland</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'fschulte-derne@arcor.de' %></div>
        </div>
      </div>
    </div> -->

    <!-- <div class="portrait span3">
      <%= image_tag 'portraits/portrait-herbert-tarmann.jpg' %>
      <div class="details">
        <div class="name">Herbert Tarmann</div>
        <div class="occupation">Sozialpädagoge</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'her_tarmann@hotmail.com' %></div>
        </div>
      </div>
    </div> -->

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-eva-deutsch.jpg' %>
      <div class="details">
        <div class="name">Eva Maria Deutsch</div>
        <div class="occupation">Gesundheitsförderung</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'eva.deutsch@styriavitalis.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-stefan-deuss.jpg' %>
      <div class="details">
        <div class="name">Stefan Deuss</div>
		    <div class="occupation">Kinder- und Jugendarbeit</div>
		    <div class="location"><strong>Standort: </strong>Deutschland</div>

        <div class="web">
          <a class="website" href="http://www.hafenundabenteuer.de/">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'stefan@hafenundabenteuer.de' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-wolfgang-schoengruber.jpg' %>
      <div class="details">
        <div class="name">Wolfgang Schöngruber</div>
		    <div class="occupation">Erlebnispädagogik, Erwachsenenbildung</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="http://www.pyhrnpriel-erlebnisagentur.at/">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'wo.schoengruber@ppea.at' %></div>
        </div>
      </div>
    </div>

    <!-- <div class="portrait span3">
      <%= image_tag 'portraits/portrait-daniel-seebacher.jpg' %>
      <div class="details">
        <div class="name">Daniel Seebacher</div>
		    <div class="occupation">pyhrnPriel-erlebnisagentur</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="http://www.pyhrnpriel-erlebnisagentur.at/">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'd.seebacher@ppea.at' %></div>
        </div>
      </div>
    </div> -->

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-harald-jansenberger.jpg' %>
      <div class="details">
        <div class="name">Harald Jansenberger</div>
		    <div class="occupation">pyhrnPriel-erlebnisagentur</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="http://www.pyhrnpriel-erlebnisagentur.at/">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'h.jansenberger@ppea.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-gary-diderich.jpg' %>
      <div class="details">
        <div class="name">Gary Diderich</div>
		    <div class="occupation">Trainer &amp; Facilitator</div>
		    <div class="location"><strong>Standort: </strong>Luxemburg</div>

        <div class="web">
          <a class="website" href="http://www.4motion.lu/">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'gary.diderich@4motion.lu' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-annemarie-ohnoutka.jpg' %>
      <div class="details">
        <div class="name">AnneMarie Ohnoutka, MSc</div>
		    <div class="occupation">Gesundheitsprojekte, Unternehmensberatung</div>
        <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'annemarie.ohnoutka@aon.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-kurt-koenigsberger.jpg' %>
      <div class="details">
        <div class="name">E.Kurt Königsberger</div>
		    <div class="occupation">Rausch &amp; Risikopädagoge</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="http://www.kips.wg.vu/">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'svbmost@yahoo.de' %></div>
        </div>
      </div>
    </div>

    <!-- <div class="portrait span3">
      <%= image_tag 'portraits/portrait-christine-pichlhoefer.jpg' %>
      <div class="details">
        <div class="name">Christine Pichlhöfer, MSc</div>
		    <div class="occupation">Geschlechtersensible Psychotherapie</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="http://members.aon.at/psychodrama">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'psychodrama@net-works.at' %></div>
        </div>
      </div>
    </div> -->

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-gerald-brandtner.jpg' %>
      <div class="details">
        <div class="name">Gerald Brandtner</div>
		    <div class="occupation">Suchtprävention</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="http://www.akzente.net/Fachstelle.1474.0.html">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'g.brandtner@akzente.net' %></div>
        </div>
      </div>
    </div>

    <!--
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-peter-holzknecht.jpg' %>
      <div class="details">
        <div class="name">Peter Holzknecht</div>
		    <div class="occupation">Offene Jugendarbeit</div>
		    <div class="location"><strong>Standort: </strong>Italien</div>

        <div class="web">
          <a class="website" href="http://bunkertreff.school-award.it/">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'info@bunkertreff.com' %></div>
        </div>
      </div>
    </div>
    -->

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-achim-lernbass.jpg' %>
      <div class="details">
        <div class="name">Achim Lernbass</div>
		    <div class="occupation">Streetwork, Jugendsozialarbeit</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="http://www.streetworkmuerztal.at/">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'achim.lernbass@isop.at' %></div>
        </div>
      </div>
    </div>

    <!--
    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-maria-greussing.jpg' %>
      <div class="details">
        <div class="name">Maria Greußing</div>
        <div class="occupation">Offene Jugendarbeit</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'maria.greussing@gmail.com' %></div>
        </div>
      </div>
    </div>
    -->

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-barbara-wendl.jpg' %>
      <div class="details">
        <div class="name">Barbara Wendl</div>
        <div class="occupation">Sozial- und Jugendarbeit</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'barbara.wendl@commit.cc' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-michael-guzei.jpg' %>
      <div class="details">
        <div class="name">Michael Guzei</div>
        <div class="occupation">Suchtvorbeugung &amp; Gesundheitsförderung</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="http://www.kreativdesign.at">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'm.guzei@kreativdesign.at' %></div>
        </div>
      </div>
    </div>

    <div id="helga-schoengruber" class="portrait span3">
      <%= image_tag 'portraits/portrait-helga-schoengruber.jpg' %>
      <div class="details">
        <div class="name">Dipl.-Päd. VOL Helga Schöngruber</div>
        <div class="occupation">Pädagogin</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'helga.schoengruber@pptv.at' %></div>
        </div>
      </div>
    </div>

    <!-- <div class="portrait span3">
      <%= image_tag 'portraits/portrait-stefan-koller.jpg' %>
      <div class="details">
        <div class="name">Stephan Koller</div>
        <div class="occupation">Gesundheitsförderung &amp; Prävention</div>
		    <div class="location"><strong>Standort: </strong>Schweiz</div>

        <div class="web">
          <a class="website" href="http://www.proception.ch/">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'proception@me.com' %></div>
        </div>
      </div>
    </div> -->

    <!-- <div class="portrait span3">
      <%= image_tag 'portraits/portrait-ursula-loewe.jpg' %>
      <div class="details">
        <div class="name">Ursula Löwe</div>
        <div class="occupation">Moderation, Gesundheitsförderung, Tanz- und Bewegungstherapeutin</div>
		    <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'loewe@tanzklang.at' %></div>
        </div>
      </div>
    </div> -->

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-martin-dworak.jpg' %>
      <div class="details">
        <div class="name">Mag.(FH) Martin Dworak</div>
        <div class="occupation">Sozialarbeiter, Parkourcoach</div>
		    <div class="location"><strong>Standort: </strong>Wien, Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'info@sprunglandung.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-claudio-froese.jpg' %>
      <div class="details">
        <div class="name">Claudia Fröse</div>
        <div class="occupation small">
          Kultur- & Gesundheitsbildung, Persönlichkeitsentwicklung &
          Genusstraining rund um den Wein
        </div>
        <div class="location"><strong>Standort: </strong>Deutschland</div>

        <div class="web">
          <a class="website" href="http://www.genusskultur.eu">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'info@genusskultur.eu' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-urs-rohr.jpg' %>
      <div class="details">
        <div class="name">Urs Rohr</div>
        <div class="occupation">Suchtprävention</div>
        <div class="location"><strong>Standort: </strong>Zürich, Schweiz</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'urs.rohr@zuerich.ch' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-juergen-einwanger.jpg' %>
      <div class="details">
        <div class="name">Jürgen Einwanger</div>
        <div class="occupation">Leiter der Alpenverein-Akademie und Bildungsreferent der Alpenvereinsjugend</div>
        <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'juergen.einwanger@alpenverein.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-thomas-tatosa.jpg' %>
      <div class="details">
        <div class="name">Thomas Tatosa</div>
        <div class="occupation">küntler, meister, vater</div>
        <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'thomas.tatosa@chello.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-anita-platzer.jpg' %>
      <div class="details">
        <div class="name">Anita Platzer</div>
        <div class="occupation">Kinder, Jugend, Erwachsenenbildung, Erziehungswissenschafterin</div>
        <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'Anita.Platzer@bfi-ooe.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-dieter-wellmann.jpg' %>
      <div class="details">
        <div class="name">Dieter Wellmann</div>
        <div class="occupation">Trainer & Facilitator</div>
        <div class="location"><strong>Standort: </strong>Österreich</div>

        <div class="web">
          <a class="website" href="http://www.riskride.at">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'email@riskride.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-volker-schreibmayr.jpg' %>
      <div class="details">
        <div class="name">Volker Schreibmayr</div>
        <div class="occupation">Pädagoge und Biobauer</div>
        <div class="location"><strong>Standort: </strong>Österreich / Steiermark</div>

        <div class="web">
          <a class="website" href="http://www.atropa.cc">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'schreibmayr@atropa.cc' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-elisabeth-mursch.jpg' %>
      <div class="details">
        <div class="name">Elisabeth Mursch</div>
        <div class="occupation">Sozialpädagogin, Sexualpädagogin</div>
        <div class="location"><strong>Standort: </strong>Kremsmünster, Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'elisabeth.mursch@mopaed.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-harald-hofer.jpg' %>
      <div class="details">
        <div class="name">Harald Hofer</div>
        <div class="occupation">e-Journalist, Outdoorguide und Referent</div>
        <div class="location"><strong>Standort: </strong>Innsbruck, Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'info@numen.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-michael-lerchner.jpg' %>
      <div class="details">
        <div class="name">Michael Lerchner</div>
        <div class="occupation">Experte für Festkultur<br>Geschäftsführer Landjugend Salzburg</div>
        <div class="location"><strong>Standort: </strong>Salzburg, Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'michael.lerchner@lk-salzburg.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-stefan-beutter.jpg' %>
      <div class="details">
        <div class="name">Stefan Beutter</div>
        <div class="occupation">Sozialpädagoge, Coach und Jugendarbeit Bödeli</div>
        <div class="location"><strong>Standort: </strong>Schweiz</div>

        <div class="web">
          <a class="website" href="http://www.jabinfo.ch">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'beutters@gmail.com' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-martin-krakhofer.jpg' %>
      <div class="details">
        <div class="name">Martin Krakhofer</div>
        <div class="occupation">Offene und Verbandliche Jugendarbeit</div>
        <div class="location"><strong>Standort: </strong>Groß Schollach, Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'm.krakhofer@gmx.net' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-lutz-koellner.jpg' %>
      <div class="details">
        <div class="name">Lutz Köllner</div>
        <div class="occupation">Jugendarbeit, Suchtprävention</div>
        <div class="location"><strong>Standort: </strong>Standort St.Pölten, Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'lutzkoellner@yahoo.de' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-vreni-von-allmen.jpg' %>
      <div class="details">
        <div class="name">Verena von Allmen Leutwyler</div>
        <div class="occupation">Jugendarbeit Haslital</div>
        <div class="location"><strong>Standort: </strong>Schweiz</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'info@jugendarbeit-haslital-brienz.ch' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-birgit-proksch.jpg' %>
      <div class="details">
        <div class="name">Birgit Proksch</div>
        <div class="occupation">Sucht- und Gewaltprävention in pädagogischen Handlungsfeldern</div>
        <div class="location"><strong>Standort: </strong>Salzburg, Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'b.proksch@gmx.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-gert-weilharter.jpg' %>

      <div class="details">
        <div class="name">Gert Weilharter</div>
        <div class="occupation">VIVID - Steirische Fachstelle für Suchtprävention</div>
        <div class="location"><strong>Standort: </strong>Graz – Steiermark – Österreich</div>

        <div class="web">
          <a class="website" href="http://www.vivid.at">&gt; Website</a>
          <div class="email"><%= encoded_email '> Email senden', 'gert.weilharter@vivid.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-mathias-pramstaller.jpg' %>

      <div class="details">
        <div class="name">Matthias Pramstaller</div>
        <div class="occupation">Pädagoge, Sportwissenschafter<br>Alpenvereinsjugend</div>
        <div class="location"><strong>Standort: </strong>Innsbruck, Österreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'matthias.pramstaller@gmail.com' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-ruken-bulut.jpg' %>

      <div class="details">
        <div class="name">Ruken Bulut</div>
        <div class="occupation">Sozialpädagogin (Suchtprävention und externe Suchtberatung in der JVA Landshut)</div>
        <div class="location"><strong>Standort: </strong>Landshut / Niederbayern / Deutschland</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'Ruken.Bulut@landshuter-netzwerk.de' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-sophia-reisinger.jpg' %>

      <div class="details">
        <div class="name">Sophia Reisinger, MSc</div>
        <div class="occupation">Sozial- und Erlebnispädagogin, Social Management</div>
        <div class="location"><strong>Standort: </strong>Wien</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'sophia_reisinger@hotmail.com' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-wolfgang-hel.jpg' %>

      <div class="details">
        <div class="name">Wolfgang Hel</div>
        <div class="occupation">Berufs- und Sozialpädagoge</div>
        <div class="location"><strong>Standort: </strong>Linz/Oberösterreich</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'gotohel@gmx.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-alex-loverre.jpg' %>

      <div class="details">
        <div class="name">Alex Loverre</div>
        <div class="occupation">Trainer & Facillitator</div>
        <div class="location"><strong>Standort: </strong>Esch-Alzette/Luxembourg</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'alex@4motion.lu' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-lynn-hagen.jpg' %>

      <div class="details">
        <div class="name">Lynn Hagen</div>
        <div class="occupation">Trainer & Facillitator</div>
        <div class="location"><strong>Standort: </strong>Esch-Alzette/Luxembourg</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'lynn@4motion.lu' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-cornelia-reibnegger.jpg' %>

      <div class="details">
        <div class="name">Cornelia Reibnegger</div>
        <div class="occupation">Offene Jugendarbeit</div>
        <div class="location"><strong>Standort: </strong>Vorarlberg</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'conny.reibnegger@gmx.at' %></div>
        </div>
      </div>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/fiona-allmen.jpg' %>

      <div class="details">
        <div class="name">Eva Fiona von Allmen</div>
        <div class="occupation">Sozialarbeiterin. Arbeit mit Jugendlichen und jungen Erwachsenen, im Gastronomie- und Hotelleriesektor.</div>
        <div class="location"><strong>Standort: </strong>Bern, Schweiz</div>

        <div class="web">
          <div class="email"><%= encoded_email '> Email senden', 'evafiona.vonallmen@outlook.com' %></div>
        </div>
      </div>
    </div>

  </section>

  <section class="row">
    <div class="span12">
      <p class="tip">Wenn Sie das know-how des pools nutzen wollen, so treten Sie mit uns in Kontakt – der pool steht für Tagungsbeiträge, Vorträge und Seminare zur Verfügung.</p>

      <h2>Träger</h2>
      <p>der fundierten Weiterentwicklung von risflecting<sup>&reg;</sup> sind 7 Einrichtungen der
        außerschulischen Jugendarbeit:</p>

      <ul id="sponsors">
        <li><%= link_to "Stadt Wien / MA 13 - Jugendreferat", "http://www.bildungjugend.wien.at" %></li>
        <li><%= link_to "Landesjugendreferat Salzburg", "http://www.salzburg.gv.at/themen/gv/landesjugendreferat.htm" %></li>
        <li><%= link_to "Amt für Jugendarbeit Provinz Bozen-Südtirol", "http://www.provinz.bz.it/kulturabteilung/jugendarbeit/" %></li>
        <li><%= link_to "Alpenverein ÖAV", "http://www.alpenverein.at" %></li>
        <li><%= link_to "Landesjugendreferat Niederösterreich", "http://www.jugend-ok.at/" %></li>
        <li><%= link_to "Büro Vital", "http://www.vitalcommunities.at/" %></li>
      </ul>
    </div>
  </section>
</article>
