<% page_title('Team') %>
<% page_stylesheet('extern/pages/team', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Das Team</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Agnes Koller',
        :role => 'risflecting coordination',
        :image => 'portraits/thumb-portrait-agnes-koller.jpg',
        :email => 'agnes.koller@qualitaetleben.at'
      }
  %>
<% end %>

<!-- uses http://emailencryptor.com/simple.html to encrypt mail adresses -->

<article>

  <section id="intro" class="row">

    <div class="span3">
      <div class="portrait">
        <%= image_tag 'portraits/portrait-gerald-koller.jpg' %>
        <p class="details">
          <span class="name">Gerald Koller</span>
          <span class="email">
            <%= encoded_email 'Email senden', 'gerald.koller@qualitaetleben.at' %>
          </span>
        </p>
      </div>

      <p id="koller-intro">Focal point dieser Gruppe ist der Entwickler und Koordinator von
      risflecting <%= link_to "Gerald Koller", static_path(:profil_gerald_koller) %>.</p>
    </div>

    <div class="span9">
      <div class="content-box">
        <p class="intro">Der risflecting-pool besteht aus etwa 60 PraktikerInnen und WissenschafterInnen, die sich in Projekten,
        Studien und politischen Überlegungen um die Weiterentwicklung der Rausch- und Risikopädagogik bemühen.
        Der pool verfolgt dabei folgende Ziele:</p>
      </div>

      <p>Durch die Bereitstellung von wissenschaftlichen Grundlagen, Methoden und Dialogräumen soll der Entwicklung
        von Rausch- und Risikobalance auf drei Ebenen gedient werden:</p>

       <ul>
        <li>der Erhöhung der Kompetenzen im Umgang mit Rausch und Risiko (R+R-Kompetenz)</li>
        <li>der Verbesserung der Begleitung von Jugendlichen (R+R-Pädagogik)</li>
        <li>der Etablierung einer Kultur der Auseinandersetzung im gesellschaftlichen Dialog (R+R-Kultur)</li>
      </ul>
    </div>
  </section>

  <section id="portraits" class="row">
    <div class="span12">
      <p><strong>Neben Gerald Koller entwickelt ein internationaler Stab von TrainerInnen
        risflecting weiter &hellip;</strong></p>
      <h2>Hier einige Mitglieder des internationalen Stab von TrainerInnen:</h2>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-frank-schulte-derne.jpg' %>
      <p class="details">
        <span class="name">Frank Schulte-Derne</span>
        <span class="email">
          <%= encoded_email 'Email senden', 'fschulte-derne@arcor.de' %>
        </span>
      </p>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-herbert-tarmann.jpg' %>
      <p class="details">
        <span class="name">Herbert Tarmann</span>
        <span class="email">
          <%= encoded_email 'Email senden', 'her_tarmann@hotmail.com' %>
        </span>
      </p>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-agnes-koller.jpg' %>
      <p class="details">
        <span class="name">Agnes Koller</span>
        <span class="email">
          <%= encoded_email 'Email senden', 'agnes.koller@qualitaetleben.at' %>
        </span>
      </p>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-eva-deutsch.jpg' %>
      <p class="details">
        <span class="name">Eva Deutsch</span>
        <span class="email">
          <%= encoded_email 'Email senden', 'eva.deutsch@styriavitalis.at' %>
        </span>
      </p>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-stefan-deuss.jpg' %>
      <p class="details">
        <span class="name">Stefan Deuss</span>
        <span class="email">
          <%= encoded_email 'Email senden', 'stefan@hafenundabenteuer.de' %>
        </span>
      </p>
    </div>

    <div class="portrait span3">
      <%= image_tag 'portraits/portrait-wolfgang-schoengruber.jpg' %>
      <p class="details">
        <span class="name">Wolfgang Schöngruber</span>
        <span class="email">
          <%= encoded_email 'Email senden', 'wo.schoengruber@ppea.at' %>
        </span>
      </p>
    </div>

  </section>

  <section class="row">
    <div class="span12">
      <p class="tip">Wenn Sie das know-how des pools nutzen wollen, so treten Sie mit uns in Kontakt – der pool steht für Tagungsbeiträge, Vorträge und Seminare zur Verfügung.</p>

      <h2>Träger</h2>
      <p>der fundierten Weiterentwicklung von risflecting sind 7 Einrichtungen der
        außerschulischen Jugendarbeit:</p>

      <ul id="sponsors">
        <li><%= link_to "Stadt Wien / MA 13 - Jugendreferat", "http://www.bildungjugend.wien.at" %></li>
        <li><%= link_to "Landesjugendreferat Salzburg", "http://www.salzburg.gv.at/themen/gv/landesjugendreferat.htm" %></li>
        <li><%= link_to "Amt für Jugendarbeit Provinz Bozen-Südtirol", "http://www.provinz.bz.it/kulturabteilung/jugendarbeit/" %></li>
        <li><%= link_to "Alpenverein ÖAV", "http://www.alpenverein.at" %></li>
        <li><%= link_to "Landesjugendreferat Steiermark", "http://www.jugendreferat.steiermark.at/" %></li>
        <li><%= link_to "Landesjugendreferat Niederösterreich", "http://www.jugend-ok.at/" %></li>
        <li><%= link_to "Büro Vital", "http://www.vitalcommunities.at/" %></li>
      </ul>
    </div>
  </section>
</article>
