<% page_title('Weiterbildung') %>
<% page_stylesheet('extern/pages/weiterbildung', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Weiterbildung und Lehrgänge</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Gary Diderich',
        :role => 'risflecting<sup>&reg;</sup> guide',
        :image => 'portraits/thumb-gary-diderich.jpg',
        :email => 'gary.diderich@4motion.lu'
      }
  %>
<% end %>

<div class="span12">

  <h2>Internationaler Studienweg zur Risikopädagogischen Begleitung 2017</h2>

  <p>Unsere Weiterbildungen dienen dazu, durch Theorie-Impulse, Selbsterfahrung
    und Praxisaustausch einen umfassenden Einblick in risflecting<sup>&reg;</sup>
    zu gewährleisten und den Kreis der "HüterInnen des Themas" zu erweitern.</p>

  <article class="row content-box">
    <h3 class="span12">BASICS (28 Einheiten)</h3>

    <div class="span8">
      <ul>
        <li>warm-up: Die Gruppe entwickelt ihre Form und Rhythmen</li>
        <li>Definitorische Grundlagen: Rausch, Risiko, Entwicklung</li>
        <li>Ethnologische, historische und pharmakologische Zugänge zu risflecting<sup>&reg;</sup></li>
        <li>Der risflecting<sup>&reg;</sup>-Ansatz zur Rausch- und Risikobalance</li>
        <li>Models of good practice: Vorstellung pädagogischer Handlungswege und Praxismodelle</li>
      </ul>
    </div>

    <div class="details span4">
      <div class="wrapper">
        <p class="date"><strong>Wann:</strong> 28.4. 16 Uhr &ndash; 1.5.2017, 13 Uhr</p>
        <p class="location"><strong>Wo:</strong> Schattendorf / Burgenland<br/></p>
        <p class="person"><strong>mit GERALD KOLLER</strong></p>
      </div>
    </div>
  </article>

  <article class="row content-box">
    <h3 class="span12">INTENSIVE (30 Einheiten)</h3>

    <div class="span8">
      <ul>
        <li>Ritual- und Festkultur: Selbst- und Gruppenerfahrung, Qualitätsstandards</li>
        <li>Theorie und Praxis von risflecting<sup>&reg;</sup>: die Heldenreise</li>
        <li>Integration der Erfahrungen und Transfer in den Alltag</li>
      </ul>
    </div>

    <div class="details span4">
      <div class="wrapper">
        <p class="date"><strong>Wann:</strong> 30.6. 16 Uhr &ndash; 3.7.2017, 13 Uhr</p>
        <p class="location"><strong>Wo:</strong> Villa Sonnwend, Windischgarsten / OÖ</p>
        <p class="person"><strong>mit LEA und ROLF BUTSCH<br>und GERALD KOLLER</strong></p>
      </div>
    </div>

  </article>

  <article class="row content-box">
    <h3 class="span12">COACHING &amp; CERTIFICATES (32 Einheiten)</h3>

    <div class="span8">
      <ul>
        <li>Vorstellung von Handlungsideen und Handreichungen zur Projektrealisierung im eigenen Handlungsfeld</li>
        <li>Zertifaktsverteilung, Rück- und Ausblick</li>
      </ul>
    </div>

    <div class="details span4">
      <div class="wrapper">
        <p class="date"><strong>Wann:</strong> 2.11. 14 Uhr &ndash; 4.11.2017, 13 Uhr</p>
        <p class="location"><strong>Wo:</strong> Hotel Viktor, Viktorsberg/V</p>
        <p class="person"><strong>Eva DEUTSCH und Gerald KOLLER</strong></p>
      </div>
    </div>
  </article>

  <aside class="info">
    <p><strong>Gesamte Lehrgangszeit: 90 Einheiten</strong></p>

    <p>
      Detailierte Informationen zu unseren Lehrgängen und Fortbildungen finden 
      sie im <%= link_to "Studienweg 2017", asset_path("risflecting-studienweg-folder-2017.pdf"), :target => '_blank' %>.<br/>
      Das <%= link_to "Anmeldeformular", asset_path("risflecting-studienweg-anmeldeformular-2017.pdf"), :target => '_blank' %> gibt es hier als Download (PDF).
    </p>

    <p>Der Lehrgang aus Sicht einer TeilnehmerIn: <%= link_to "Lehrgangsreflexion", asset_path("lehrgangsreflexion-2008.pdf"), :target => '_blank' %></p>

    <p>
      Für eine erste Einführung in den risflecting<sup>&reg;</sup>-Ansatz vor 
      Ort bieten Mitglieder des ExpertInnenpools Vortrags- und 
      Seminarveranstaltungen an. Treten Sie bei Interesse mit uns in 
      <%= link_to "Kontakt", static_path(:kontakt) %>.
    </p>
  </aside>

  <!-- <aside class="events">
    <h3>Tagungen zum Thema</h3>
    <div class="links">
      <%= link_to "Fachsymposium HIGH LIFE / 8.11.2016",
          asset_path("AV_aka_folder-broschuere_high-life_web_fin.pdf"),
          :target => '_blank' %>
    </div>
  </aside>

  <aside class="seminare">
    <h3>Seminare</h3>
    <p>
      <%= link_to "Seminar: Risikoverhalten von Kindern und Jugendlichen",
                  "http://www.7gschaid.at/seminartermine/oesterreich/angebot/4447/risikoverhalten-von-kindern-und-jugendlichen-15-tage.html",
                  :target => '_blank' %>
    </p>
  </aside>

  <aside class="grenzgaenge">
    <h3>GRENZGÄNGE</h3>

    <p>
    Von 2014 bis 2018 finden an der österreichisch-ungarischen Grenze die GRENZGÄNGE, das
    Europäische Picknick des Forum Lebensqualität statt,
    zu dem jährlich 40 Gäste eingeladen werden, miteinander über den Tellerrand zu denken.
    Das Programm zu diesem Abenteuer finden Sie hier:
    </p>
    <p>
      <%= link_to "online durchblättern", "http://issuu.com/anna_frey/docs/folder_final_einzelseiten_8.mai", :target => '_blank' %>
    </p>

  </aside> -->
</div>
