<% page_title('Weiterbildung') %>
<% page_stylesheet('extern/pages/weiterbildung', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Weiterbildung und Lehrgänge</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Gary Diderich',
        :role => 'risflecting guide',
        :image => 'portraits/thumb-gary-diderich.jpg',
        :email => 'gary.diderich@4motion.lu'
      }
  %>
<% end %>

<div class="span12">
  
  <h2>Studienweg zur Risikopädagogischen Begleitung 2013</h2>
    
  <p>Unsere Weiterbildungen dienen dazu, durch Theorie-Impulse, Selbsterfahrung und Praxisaustausch einen umfassenden Einblick in risflecting zu gewährleisten und den Kreis der "HüterInnen des Themas" zu erweitern.</p>
    
  <article class="row content-box">
    <h3 class="span12">BASICS (32 Einheiten)</h3>

    <div class="span8">
      <ul>
        <li>warm-up: Die Gruppe entwickelt ihre Form und Rhythmen</li>
        <li>Definitorische Grundlagen: Rausch, Risiko, Entwicklung</li>
        <li>Ethnologische, historische und pharmakologische Zugänge zu risflecting</li>
        <li>Der risflecting-Ansatz zur Rausch- und Risikobalance</li>
        <li>Models of good practice: Vorstellung pädagogischer Handlungswege und Praxismodelle</li>
      </ul>
    </div>
    
    <div class="details span4">
      <div class="wrapper">
        <p class="date"><strong>Wann:</strong> 2.5.2013, 16 Uhr &ndash; 5.5.2013, 13 Uhr</p>
        <p class="location"><strong>Wo:</strong> Danielsberg/Kärnten<br/></p>
        <p class="person"><strong>mit GERALD KOLLER</strong></p>
      </div>
    </div>
  </article>

  <article class="row content-box">
    <h3 class="span12">INTENSIVE (40 Einheiten)</h3>
    
    <div class="span8">
      <ul>
        <li>Kommunikation, Kooperation, Konflikte: Wie risflecting ermöglichen?</li>
        <li>Ritual- und Festkultur: Selbst- und Gruppenerfahrung, gewonnene Qualitätsstandards</li>
        <li>Theorie und Praxis der „Heldenreise“ als theatralische Erfahrung</li>
        <li>Integration der Erfahrungen und Transfer in den Alltag</li>
      </ul>
    </div>
    
    <div class="details span4">
      <div class="wrapper">
        <p class="date"><strong>Wann:</strong> 20.06.2013, 16 Uhr &ndash; 23.06.2013, 16 Uhr</p>
        <p class="location"><strong>Wo:</strong> Obernberg/Tirol</p>
        <p class="person"><strong>mit GERALD KOLLER sowie ROLF und LEA BUTSCH</strong></p>
      </div>
    </div>
    
  </article>

  <article class="row content-box">
    <h3 class="span12">COACHING &amp; CERTIFICATES (12 Einheiten)</h3>
    
    <div class="span8">
      <ul>
        <li>Vorstellung von Handlungsideen und Fragen zur Realisierung</li>
        <li>Vertiefung und Weiterentwicklung der Qualitätsstandards in Gruppenreflexionen</li>
        <li>Zertifikatsverleihung</li>
        <li>Rück- und Ausblick</li>
      </ul>
    </div>
    
    <div class="details span4">
      <div class="wrapper">
        <p class="date"><strong>Wann:</strong> 24.10.2013, 14 Uhr &ndash; 27.10.2013, 13 Uhr</p> 
        <p class="location"><strong>Wo:</strong> Südtirol</p>
        <p class="person"><strong>(risflecting-pool-meeting von 25. bis 27.10)</strong></p>
      </div>
    </div>
  </article>

  <aside class="info">
    <p>Detailierte Informationen zu unseren Lehrgängen und Fortbildungen finden sie <%= link_to "hier", asset_path("studienweg-folder-2013.pdf"), :target => '_blank' %>.<br/>
    Das <%= link_to "Anmeldeformular", asset_path("studienweg-anmeldeformular-2013.pdf"), :target => '_blank' %> gibt es hier als Download (PDF).</p>


    <p>Der Lehrgang aus Sicht einer TeilnehmerIn: <%= link_to "Lehrgangsreflexion", asset_path("lehrgangsreflexion-2008.pdf"), :target => '_blank' %></p>

    <p>Für eine erste Einführung in den risflecting-Ansatz vor Ort bieten Mitglieder des ExpertInnenpools Vortrags- und Seminarveranstaltungen an. Treten Sie bei Interesse mit uns in <%= link_to "Kontakt", static_path(:kontakt) %>.</p>
  </aside>
</div>
