<% page_title('Weiterbildung') %>
<% page_stylesheet('extern/pages/weiterbildung', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Weiterbildung und Lehrgänge</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Gary Diderich',
        :role => 'risflecting guide',
        :image => 'portraits/thumb-gary-diderich.jpg',
        :email => 'gary.diderich@4motion.lu'
      }
  %>
<% end %>

<div class="span12">
  
  <h2>Studienweg zur Risikopädagogischen Begleitung 2014</h2>
    
  <p>Unsere Weiterbildungen dienen dazu, durch Theorie-Impulse, Selbsterfahrung und Praxisaustausch einen umfassenden Einblick in risflecting zu gewährleisten und den Kreis der "HüterInnen des Themas" zu erweitern.</p>
    
  <article class="row content-box">
    <h3 class="span12">BASICS (32 Einheiten)</h3>

    <div class="span8">
      <ul>
        <li>warm-up: Die Gruppe entwickelt ihre Form und Rhythmen</li>
        <li>Definitorische Grundlagen: Rausch, Risiko, Entwicklung</li>
        <li>Ethnologische, historische und pharmakologische Zugänge zu risflecting</li>
        <li>Der risflecting-Ansatz zur Rausch- und Risikobalance</li>
        <li>Models of good practice: Vorstellung pädagogischer Handlungswege und Praxismodelle</li>
      </ul>
    </div>
    
    <div class="details span4">
      <div class="wrapper">
        <p class="date"><strong>Wann:</strong> 1.5.2014, 16 Uhr &ndash; 4.5.2014, 13 Uhr</p>
        <p class="location"><strong>Wo:</strong> Danielsberg, Kolbnitz/Kärnten<br/></p>
        <p class="person"><strong>mit GERALD KOLLER</strong></p>
      </div>
    </div>
  </article>

  <article class="row content-box">
    <h3 class="span12">INTENSIVE (40 Einheiten)</h3>
    
    <div class="span8">
      <ul>
        <li>Ritual- und Festkultur: Selbst- und Gruppenerfahrung, Qualitätsstandards</li>
        <li>Theorie und Praxis von risflecting: die Heldenreise</li>
        <li>Integration der Erfahrungen und Transfer in den Alltag</li>
      </ul>
    </div>
    
    <div class="details span4">
      <div class="wrapper">
        <p class="date"><strong>Wann:</strong> 3.7.2014, 16 Uhr &ndash; 6.7.2014, 15 Uhr</p>
        <p class="location"><strong>Wo:</strong> Obernberg/Tirol (A/I)</p>
        <p class="person"><strong>mit LEA und ROLF BUTSCH<br>und GERALD KOLLER</strong></p>
      </div>
    </div>
    
  </article>

  <article class="row content-box">
    <h3 class="span12">COACHING &amp; CERTIFICATES (32 Einheiten)</h3>
    
    <div class="span8">
      <ul>
        <li>Vorstellung von Handlungsideen und Fragen zur Reali-sierung in der Heimatregion</li>
        <li>Zertifikatsverleihung</li>
        <li>Rück- und Ausblick</li>
        <li>Anschließend: internationales risflecting pool meeting mit den AbsolventInnen bisheriger Studienwege, Trainern und Mitgliedern des Kuratoriums</li>
      </ul>
    </div>
    
    <div class="details span4">
      <div class="wrapper">
        <p class="date"><strong>Wann:</strong> 22.10.2014, 18 Uhr &ndash; 26.10.2014, 13 Uhr</p> 
        <p class="location"><strong>Wo:</strong> Potsdam / D</p>
        <p class="person"><strong>(risflecting-pool-meeting von 24. bis 26.10)</strong></p>
      </div>
    </div>
  </article>

  <aside class="info">
    <p>Detailierte Informationen zu unseren Lehrgängen und Fortbildungen finden sie im <%= link_to "Studienweg 2014", asset_path("risflecting-studienweg-folder-2014.pdf"), :target => '_blank' %>.<br/>
    Das <%= link_to "Anmeldeformular", asset_path("risflecting-studienweg-anmeldeformular-2014.pdf"), :target => '_blank' %> gibt es hier als Download (PDF).</p>


    <p>Der Lehrgang aus Sicht einer TeilnehmerIn: <%= link_to "Lehrgangsreflexion", asset_path("lehrgangsreflexion-2008.pdf"), :target => '_blank' %></p>

    <p>Für eine erste Einführung in den risflecting-Ansatz vor Ort bieten Mitglieder des ExpertInnenpools Vortrags- und Seminarveranstaltungen an. Treten Sie bei Interesse mit uns in <%= link_to "Kontakt", static_path(:kontakt) %>.</p>
  </aside>
</div>
