<% page_title('Willkommen') %>
<% page_stylesheet('extern/pages/willkommen', :media => 'all') %>
<% page_javascript('extern/pages/willkommen') %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait' %>
<% end %>

<article id="content">
  <h1>risflecting<sup>&reg;</sup></h1>
  <h2>Leben in Rausch- und Risikobalance</h2>

  <%= link_to "High & Responsible Award 2014", static_path('projekte/high-and-responsible'), :id => "reading-sign" %>

  <p class="intro"><strong>Willkommen bei risflecting<sup>&reg;</sup>!</strong><br />Dieser weltweit innovative
    pädagogische Ansatz will gemeinsam mit Dir / Ihnen den souveränen Umgang mit Rausch
    und Risiko fördern.</p>

  <div id="circle-navigation">

    <p id="circle-info-text">
      <strong>Entdecke risflecting<sup>&reg;</sup>!</strong><br />
      Bewege deine Maus über die Links<br />
      um mehr darüber zu erfahren.
    </p>

    <ul id="circle-links">
      <li>
        <%= link_to "Konzept", static_path(:konzept), :id => "circle-konzept",
              'data-title' => "Rausch- und Risikopädagogik fördert eine Kultur der Balance" %>
      </li>
      <li>
        <%= link_to "Studie", static_path(:studie), :id => "circle-studie",
              'data-title' => "als pädagogischer Ansatz nimmt risflecting<sup>&reg;</sup> menschliche Bedürfnisse nach Rausch und Risiko ernst" %>
      </li>
      <li>
        <%= link_to "Projekte", static_path(:projekte), :id => "circle-projekte",
              'data-title' => "Rausch- und Risikobalance heißt: das wilde Tier reiten zu lernen" %>
      </li>
      <li>
        <%= link_to "Weiterbildung", static_path(:weiterbildung), :id => "circle-weiterbildung",
              'data-title' => "Risikopädagogische BegleiterInnen vermitteln bewährte und gewinnbringende Kulturtechniken" %>
      </li>
      <li>
        <%= link_to "Team", static_path(:team), :id => "circle-team",
              'data-title' => "Ein internationales Netzwerk von ExpertInnen entwickelt risflecting<sup>&reg;</sup> weiter" %>
      </li>
      <li>
        <%= link_to "Publikationen", static_path(:publikationen), :id => "circle-publikationen",
              'data-title' => "Balance kann nur in einem Klima des tabufreien Dialogs geübt werden" %>
      </li>
    </ul>
  </div>
</article>
