<% page_title('Willkommen') %>
<% page_stylesheet('extern/pages/willkommen', :media => 'all') %>
<% page_javascript('extern/pages/willkommen') %>

<% content_for :headline  do %>
  <h1>risflecting: Leben in Rausch- und Risikobalance</h1>
<% end %>

<article>
  <p>
    Mehr als einen Klick braucht es, um den integrativen Ansatz von risflecting, der 
    einen optimierteren Umgang mit Rausch- und Risikosituationen erreichen möchte, 
    weiter zu entwickeln: Gespräche, Austausch, Diskussionen - es braucht also 
    Kommunikation!
  </p>

  <div id="circle-navigation">
    <h2>risflecting</h2>
  
    <p id="interaction-hint">
      Entdecke risflecting!<br />
      Bewege deine Maus über die Links für einen ersten Überblick
    </p>

    <p id="circle-info-text">
      Risikopädagogische BegleiterInnen vermitteln bewährte und gewinnbringende Kulturtechniken
    </p>
  
    <ul id="circle-links">
      <li>
        <%= link_to "Konzept", static_path(:konzept), :id => "circle-konzept", 
              :title => "Rausch- und Risikopädagogik fördert eine Kultur der Balance" %>
      </li>
      <li>
        <%= link_to "Projekte", static_path(:projekte), :id => "circle-projekte",
              :title => "Rausch- und Risikobalance heißt: das wilde Tier reiten zu lernen" %>
      </li>
      <li>
        <%= link_to "Weiterbildung", static_path(:weiterbildung), :id => "circle-weiterbildung", 
              :title => "Risikopädagogische BegleiterInnen vermitteln bewährte und gewinnbringende Kulturtechniken" %>
      </li>
      <li>
        <%= link_to "FAQs", static_path(:faq), :id => "circle-faq", 
              :title => "als pädagogischer Ansatz nimmt risflecting menschliche Bedürfnisse nach Rausch und Risiko ernst" %>
      </li>
      <li>
        <%= link_to "Team", static_path(:team), :id => "circle-team", 
              :title => "Ein internationales Netzwerk von ExpertInnen entwickelt risflecting weiter" %>
      </li>
      <li>
        <%= link_to "Publikationen", static_path(:publikationen), :id => "circle-publikationen", 
              :title => "Balance kann nur in einem Klima des tabufreien Dialogs geübt werden" %>
      </li>
    </ul>
    
    <%= image_tag 'willkommen/willkommen-circle-background.png', :id => 'background' %>
  </div>
</article>