<div class="page-header">
  <h2>Fragen & Mitteilungen
    <%= link_to new_intern_post_path, :class => 'pull-right btn btn-info' do %>
      <i class="icon-plus"></i> &nbsp;Frage oder Mitteilung verfassen
    <% end %>
  </h2>
</div>

<ul id="posts-list" class="unstyled">
<% @posts.each do |post| %>
  <li class="well">
    <div class="row">
      <div class="span6 title">
        <h4>
          <%= link_to post.title, intern_post_path(post) %>
          <br><small class="author">von <%= post.author.surname %> <%= post.author.forename %></small>
        </h4>
      </div>
      <div class="span3 pull-right bonus-info">
        <span class="update-date">zuletzt geändert <em><%= l post.updated_at, :format => '%d. %b, %H:%I Uhr' %></em></span>
      </div>
      <div class="span2 pull-right creation-date">
        erstellt am<br/><%= l post.created_at, :format => '%d. %B %Y' %>
      </div>
    </div>
  </li>
<% end %>
</ul>
