<div id="post-details" class="row">
  <div class="span12">
    <div class="page-header">
      <h2>
        <%= @post.title %>
        <small><%= link_to intern_posts_path, :class => 'pull-right' do %>&laquo; zurück zur Übersicht<% end %></small>
      </h2>
    </div>
  </div>

  <div class="span8">
    <p class="description"><%= auto_link @post.body, :html => { :target => '_blank' } %></p>
    <p class="author-details">
      Erstellt am <strong><%= @post.created_at.strftime('%d. %B \'%y') %></strong> von <strong><%= @post.author.surname %> <%= @post.author.forename %></strong>
    </p>
    <%= render :partial => 'intern/comments/list', :locals => { :comments => @post.comments(true) } %>
    <%= render :partial => 'intern/comments/form', :locals => { :post => @post, :comment => @comment ||= @post.comments.new } %>
  </div>


  <div class="span4">
    <%= render :partial => 'intern/attachments/list', :locals => { :attachments => @post.attachments(true) } %>
    <% if can? :add_attachment, @post %>
      <%= render :partial => 'intern/attachments/form', :locals => { :resource => @post, :attachment => @attachment ||= @post.attachments.new } %>
    <% end %>
    <%= render :partial => 'intern/posts/recent_alternatives', :locals => { :recent_alternative_posts => @post.recent_alternative_posts } %>
  </div>
</div>
