<div id="appointment-details" class="row">
  <div class="span12">
    <div class="page-header">
      <h2>
        <%= @appointment.title %>
        <small><%= link_to intern_appointments_path, :class => 'pull-right' do %>&laquo; zurück zur Terminübersicht<% end %></small>
      </h2>
    </div>
  </div>

  <div class="span6">
    <dl class="dl-horizontal">
      <dt>Ort</dt>
      <dd><%= @appointment.location %></dd>
      <dt>Beginn</dt>
      <dd><%= l @appointment.starttime, :format => :long %></dd>
      <dt>Ende</dt>
      <dd><%= l @appointment.endtime, :format => :long %></dd>
    </dl>
    <p><%= auto_link @appointment.description, :html => { :target => '_blank' } %></p>
  </div>

  <div class="span6">
    <div class="row">
      <div class="span6">
        <div class="buttons">
        <% if @accepting_users.include? current_intern_user %>
          <div class="pull-left">Du hast <%= render :partial => 'accepted_appointment' %>.</div>
          <div class="pull-right">
            <%= rejection_button 'Absagen', { :appointment => @appointment } if @appointment.future? %>
          </div>
        <% elsif @rejecting_users.include? current_intern_user %>
          <div class="pull-left">Du hast <%= render :partial => 'rejected_appointment' %>.</div>
          <div class="pull-right">
            <%= acceptance_button 'Zusagen', { :appointment => @appointment } if @appointment.future? %>
          </div>
        <% else %>
          <div class="pull-left">
            <% if @appointment.future? %>
              Du hast noch keine Entscheidung getroffen.
            <% else %>
              Du hast weder zu- noch abgesagt.
            <% end %>
          </div>
          <div class="pull-right">
            <%= acceptance_button 'Zusagen', { :appointment => @appointment } if @appointment.future? %>
            <%= rejection_button 'Absagen', { :appointment => @appointment } if @appointment.future? %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <%= render :partial => 'acceptances_rejections_list', :locals => { :users => @accepting_users, :title => 'Zusagen', :list_id => 'acceptances'} %>
    <%= render :partial => 'acceptances_rejections_list', :locals => { :users => @rejecting_users, :title => 'Absagen', :list_id => 'rejections'} %>
  </div>
</div>
