<section id="chapter-1">
  <h2>Grundlegende Begriffe
    <span class="subline">(Versuch einer Begriffserklärung)</span>
  </h2>
  
  <div class="content-box">
    <p>Dieses Kapitel zitiert einige Kontexte, die die dynamischen 
      Phänomene <strong>Rausch</strong> und <strong>Risiko</strong> beschreiben.</p>
    
    <p class="intro">Bei Rausch und Risiko handelt es sich um emotional vielfach besetzte Begriffe, 
      die auch ihrerseits ein multiples, emotionales Geschehen umschreiben. Hier wird 
      daher der Versuch einer Annäherung unternommen.</p>
  </div>
    
    
  <h3>Hilde Scheikl: Risiko und Wagnis</h3>
  
  <p>Der Begriff des Risikos ist in den italienischen Städten des 12./13. Jahrhunderts im 
    Kontext des Fern- und Seehandels aufgetaucht. Bonß schreibt von zwei wesentlichen Unterscheidungen:</p>
  <p>"Gefahren" bestehen unabhängig von den Handelnden, sind subjekt- und 
    situationsabhängig und &hellip;</p>
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/hilde_scheiklsisik_und_wag.pdf') %>
  </p>
  
  
  <h3>Luis Töchterle: Risikoverhalten von Gruppen</h3>
  
  <p>Die Sozialpsychologie hat sich intensiv mit der Frage beschäftigt, wie in 
    Gruppen Entscheidungen zustande kommen, wenn damit Risiken verbunden sind. 
    Es gibt dazu eine Reihe von interessanten Untersuchungsergebnissen, 
    Experimenten und Theorien. Angesichts der Sportausübung von Jugendlichen 
    scheint es angeraten &hellip;</p>
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
         asset_path('studie/luis_toechterlsrisikoverhalt.pdf') %>
  </p>
  
  
  <h3>Luis Töchterle: Flow und Kick</h3>
  
  <p>Was ist Flow? Der Begriff stammt von M. Csikszentmihalyi , der einen 
    bestimmten, gleichartigen Bewusstseinszustand bei Kletterern, Schachspielern 
    und Chirurgen beschrieben und so bezeichnet hat.</p>
  
  <p>Dieser Zustand ist ein "Aufgehen im Tun", ein "Gleichgewicht zwischen 
    Aufgabenschwierigkeit und Problemlösekompetenz". Flow gibt's auch als 
    Alltagsphänomen bis hin zum &hellip;</p>
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
         asset_path('studie/luis_toechterle_flow_kick.pdf') %>
  </p>
  
  
  <h3>Gerald Koller: Rausch</h3>
  
  <p>Rausch ist von variabler Bedeutung: Schon der Unterschied zwischen den 
    Worten "Liebesrausch" und "Blutrausch" macht dies deutlich. Rausch als 
    Verlangsamung unserer Befindlichkeit (dadurch tritt eine Veränderung 
    unseres Spannungszustandes ein) als Verlagerung der Gehirnaktivität ins 
    bilderreiche Alpha-Niveau (die Alpha-Wellen sind u.a. für Entspannung 
    und Traumschlaf verantwortlich und bewegen als Botschaft &hellip;</p>
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
         asset_path('studie/gerald_koller_rausch.pdf') %>
  </p>
  
  
  <h3>Jürgen Einwanger: Risikooptimierung</h3>
  
  <cite>"Risiko ist die Verbindung von Ungewissheit und Bedeutsamkeit"</cite>
  
  <p>Um sich dem Begriff der Risikooptimierung zu nähern, ist es hilfreich, Abgrenzungen und Zuordnungen vorzunehmen, soziale und gesellschaftliche Notwendigkeiten von Risiko zu erwähnen und historische Strömungen aufzuzeigen.
  Das Risiko zu optimieren meint nicht &hellip;</p>
  
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
         asset_path('studie/juergen_einwansr_risikooptim.pdf') %>
  </p>
</section>