<section id="chapter-4">
  
  <h2>Methoden</h2>
  
  <div class="content-box">
    <p>Die hier vorgestellten Methoden bieten verschiedene kommunikative Zugänge 
      zu Rausch- und Risikosettings. Aus der Vielzahl möglicher Ansätze wurde eine 
      Auswahl getroffen.</p>
  </div>
  
  <h3>Michael Guzei: Die Life Check-Methode: Risikotypen</h3>
  
  <cite>"Das größte Risiko unserer Zeit liegt in der Angst vor dem Risiko"
  <strong>Helmut Schoek</strong>, (*1922) österr. Soziologe</cite>
  
  <p>Es ist für die Methodenentwicklung in der Risikopädagogik von größter 
    Bedeutung, sich mit den Gemeinsamkeiten auseinander zu setzen, auf denen 
    Risikoverhalten in den verschiedensten Lebenssituationen beruht. Dazu ist 
    es notwendig, sich mit den psychophysischen Grundlagen zu beschäftigen, auf 
    denen Risikoverhalten basiert.</p>
    
  <p>Ohne Anspruch auf Vollständigkeit zu erheben, möchte ich in meinem Beitrag 
    drei Aspekte näher betrachten und &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren', 
                 asset_path('studie/michael_guzei.pdf'), :target => :new %>
  </p>
  
  
  <h3>Gerald Koller: Gruppenreflexion: Rausch- und Risikodynamiken in Gruppen</h3>
  
  <p>Gruppen entwickeln oft unbewusst eine ritualisierte Dynamik des Umgangs mit 
    Rausch- und Risikosituationen, die mitunter Minderheiten unter Druck bringt, 
    oder aber zur - durchaus auch legitimen - Bildung von Untergruppen führt. 
    Diese Dynamik endet &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren', 
                 asset_path('studie/gruppenreflexion.pdf'), :target => :new %>
  </p>
  
  
  <h3>Gerald Koller: Festkultur</h3>
  
  <p>Feste gelten als wichtige Verstärker persönlichen Wohl- und Sinngefühls wie 
    auch der Kommunikation zwischen Menschen, die auch den Alltag miteinander 
    teilen. Sie überhöhen diesen Alltag und machen seine wesentlichen Grundlagen 
    auf spielerische Weise bewusst, indem sie Anfänge, Höhepunkte, Abschluss oder 
    Neubeginn anzeigen. Somit sind Feste "Mitte des Lebens" und ein wichtiger 
    kultureller Entwicklungsschritt im menschlichen Leben. Feste, das sind und 
    waren &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren', 
                 asset_path('studie/festkultur.pdf'), :target => :new %>
  </p>
  
  
  <h3>Gerald Koller: Rituale</h3>
  
  <p>Rituale geben Halt und Orientierung, schaffen Klarheit in stürmischen Zeiten 
    des Umbruchs, geben Heimat im Gefühl der Fremde, entwickeln Ordnung in 
    chaotischen Zeiten. Und gerade dadurch helfen sie, uns wieder aufzumachen, 
    das Chaos nicht abzuwehren, sondern zu akzeptieren und zu integrieren und 
    uns damit weiterzuentwickeln. Sie fördern unsere Neugier auf das &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren', 
                 asset_path('studie/rituale.pdf'), :target => :new %>
  </p>
  
  
  <h3>Manuela Steger: Mädchenarbeit und Risiko</h3>
  
  <p>Der geschlechtsspezifische Ansatz ist seit Jahren Bestandteil der (vorwiegend) 
    freizeitorientierten Jugendarbeit - zumindest in der Theorie und in den Wünschen 
    nach Veränderung hat er großflächig Einzug gehalten. Verschiedenste Einrichtungen 
    österreichweit können auf praktische Erfahrungen und Umsetzungen zurückgreifen - 
    andere scheuen sich davor oder haben zuwenig Ressourcen &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren', 
                 asset_path('studie/maedchenarbeit.pdf'), :target => :new %>
  </p>
  
  
  <h3>Gerald Koller: Schwache Stärke - der Weg zum Mann-sein</h3>
  
  <p>Männer leiden an zwei grundlegenden Problemen: Einmal an der Stärke, die sie 
    insbesondere im öffentlichen Raum beweisen müssen (gerade auch, wenn sie daheim 
    das Mamasöhnchen sind) und die es ihnen versagt, Schwächen zu spüren und 
    zuzugeben. Zum anderen am abwesenden Vater, der weit weg von der Lebenswelt 
    des jungen Buben seiner Arbeit nachgeht und die Erziehungsarbeit seiner Frau 
    überlässt. So tritt der perverse Prozess ein, dass &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren', 
                 asset_path('studie/schwache_staerke.pdf'), :target => :new %>
  </p>
  
</section>