<%= form_for [:intern, @question], :html => { :class => 'form-horizontal well'} do |form| %>
  <fieldset>
    <%= content_tag :legend, 'Neue Frage oder Mitteilung verfassen' %>
    <% if @question.errors.any? %>
    <div class="alert alert-error"><strong>Achtung!</strong> Beim Versuch die Frage/Mitteilung zu speichern sind Fehler aufgetreten.</div>
    <% end %>
    <%= form.text_field :title, :class => 'span6', :label => { :text => 'Titel' } %>
    <%= form.text_area :body, :rows => 15, :class => 'span6', :label => { :text => 'Beschreibung' } %>

    <div class="control-group">
      <div class="control-label">Anhänge und Dokumente</div>
      <div class="controls">
        <div class="alert alert-info">
          Falls du zu deiner Frage oder Mitteilung noch zusätzliches Material hochladen willst, hast du im nächsten Schritt die Möglichkeit dazu. Erstelle zunächst deine Frage oder Mitteilung, und verwende das Formular auf der nächsten Seite, um Dateien hochzuladen.
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= form.submit 'Frage oder Mitteilung speichern' %>
      <%= link_to 'Abbrechen', intern_questions_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
