<div class="page-header">
  <h3><%= @question.title %></h3>
  <%= link_to intern_questions_path, :class => 'pull-right' do %>&laquo; zurück zur Übersicht<% end %>
</div>

<div class="row">
  <div class="span8" id="question-details">
    <p class="description"><%= simple_format(auto_link @question.body, :html => { :target => '_blank' }) %></p>
    <div class="author-details">
      von
      <%= avatar_image_tag @question.author.avatar, :tiny, :alt => @question.author.full_name %>
      <%= link_to intern_account_path @question.author do %><strong><%= @question.author.full_name %></strong><% end %>
      am <strong><%= @question.created_at.strftime('%d. %B %Y') %></strong>

      <div class="btn-group pull-right">
        <% if can? :edit, @question %>
          <%= link_to edit_intern_question_path(@question), :class => 'btn' do %>
            <i class="icon-pencil"></i>&nbsp; Bearbeiten
          <% end %>
        <% end %>
      </div>

      <br/>
    </div>

    <%= render :partial => 'intern/comments/list', :locals => { :comments => @question.comments(true) } %>
    <%= render :partial => 'intern/comments/form', :locals => { :question => @question, :comment => @comment ||= @question.comments.new } %>
  </div>


  <div class="span4">
    <%= render :partial => 'intern/attachments/list', :locals => { :attachments => @question.attachments(true) } %>
    <% if can? :add_attachment, @question %>
      <%= render :partial => 'intern/attachments/form', :locals => { :resource => @question, :attachment => @attachment ||= @question.attachments.new } %>
    <% end %>
    <%= render :partial => 'intern/questions/recent_alternatives', :locals => { :recent_alternative_questions => @question.recent_alternative_questions } %>
  </div>
</div>
