<%= form_for [:intern, @user], :url => intern_profile_path, :html => { :class => 'form-horizontal well', :id => 'account-edit-form'} do |form| %>
  <%= content_tag :legend, 'Benutzer Informationen ändern' %>
  <fieldset>
    <% if @user.errors.any? %>
    <div class="alert alert-error"><strong>Achtung!</strong> Beim Versuch deine Angaben zu ändern sind Fehler aufgetreten.</div>
    <% end %>
    <%= form.file_field :avatar, :label => { :text => 'Avatarbild' }, :button_label => 'Auswählen' %>
    <%= form.hidden_field :avatar_cache %>
    <div class="form-actions">
      <%= form.submit 'Änderungen speichern' %>
      <%= link_to 'Abbrechen', intern_profile_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
