<%= form_for [:intern, @user], :url => intern_accounts_path, :html => { :class => 'form-horizontal well'} do |form| %>
  <fieldset>
    <%= content_tag :legend, 'Neuen Benutzer einladen' %>
    <%= form.email_field :email, :class => 'span4', :label => { :text => 'E-Mail' } %>

    <%= form.select(:role_id, options_for_select([
                                                  ['Pool', Role.find_by_name('Member').id],
                                                  ['Steuergruppe', Role.find_by_name('Coordinator').id],
                                                  ['Administratoren', Role.find_by_name('Admin').id]
                                                ]), {}, { :label => { :text => 'Gruppe'}, :class => 'span2' } ) %>

    <div class="control-group">
      <div class="controls">
        <div class="alert alert-info">
          Mitglieder des <strong>Pools</strong> haben keinen Zugriff auf folgende Zusatzfunktionen:
          <br>
          - Termine erstellen und löschen
          <br>
          - Benutzer einladen
          <br>
          - Dokumente hochladen und löschen
          <br><br>
          Mitglieder der <strong>Steuergruppe</strong> haben keinen Zugriff auf folgende Zusatzfunktionen:
          <br>
          - Termine erstellen und löschen
          <br>
          - Benutzer einladen
          <br><br>
          <strong>Administratoren</strong> haben Zugriff auf alle Zusatzfunktionen.
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= form.submit 'Benutzer einladen' %>
    </div>
  </fieldset>
<% end %>
