<div class="row">
  <div class="span4" id="avatar"></div>
  <div class="span4" id="activities"></div>
  <div class="span4" id="info">
    <strong>Name</strong>: <%= @user.full_name %><br/>
    <strong>E-Mail</strong>: <%= @user.email %><br/>
    <strong>Telefon</strong>: <%= @user.phone %><br/>
    <strong>Mitglied seit</strong>: <%= l @user.created_at, :format => :short %><br/>
    <strong>Zuletzt online</strong>: <%= l @user.current_sign_in_at, :format => :short %><br/>
  </div>
</div>
