<div class="page-header">
  <h2><%= @user.full_name %></h2>
  <% if can? :edit, @user %>
    <%= link_to edit_intern_profile_path, :class => 'pull-right btn btn-info' do %>
      <i class="icon-pencil"></i>&nbsp; Profil bearbeiten
    <% end %>
  <% end %>
</div>
<div class="row">
  <div class="span3" id="avatar">
    <%= avatar_image_tag @user.avatar, :normal, :alt => @user.full_name %><br/><br/>
  </div>
  <div class="span9" id="info">
    <strong>E-Mail</strong>: <%= @user.email %><br/>
    <strong>Telefon</strong>: <%= @user.phone %><br/><br/>
    <strong>Mitglied seit</strong>: <%= l @user.created_at, :format => :short %><br/>
    <strong>Zuletzt online</strong>: <%= l @user.current_sign_in_at, :format => :short %><br/><br/>

    <% unless @user.description.blank? %>
    <strong>Informationen</strong>:<br/>
    <%= simple_format(auto_link @user.description) %>
    <% end %>
  </div>
</div>
