<% page_title('Die Gewinner 2014 | High & Responsible Award') %>
<% page_stylesheet('extern/pages/projects/high_and_responsible/winners', :media => 'all') %>
<% page_javascript('extern/pages/hr-winners') %>

<% content_for :headline  do %>
  <h1>Die Gewinner 2014 | High &amp; Responsible Award</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait' %>
<% end %>

<div id="hr-gewinner2014" class="winners">

  <div class="intro">

    <div class="map">
      <%= image_tag 'projects/hr-award/map/austria-map.svg', :class => 'country' %>

      <div class="pins">

        <div class="category nightlife">

          <div class="pin wiesen" data-location="1">
            <div class="marker"></div>
            <div class="city">Wiesen</div>
            <div class="content">
              <h3>Jazzpub und Festivalgelände</h3>
              <p class="reason">für die 40 jährige Betreuung eines der stimmigsten
                Festivalgelände Europas–und der Jugendkultur</p>
              <a class="link" href="http://www.wiesen.at" target="_blank">www.wiesen.at</a>
            </div>
          </div>

          <div class="pin linz" data-location="2">
            <div class="marker"></div>
            <div class="city">Linz</div>
            <div class="content">
              <h3>Frau Dietrich</h3>
              <p class="reason">für vorbildhafte Gestaltung des
                Schwellenbereichs und Pflege der Baratmosphäre</p>
              <a class="link" href="http://www.frau-dietrich.at/" target="_blank">www.frau-dietrich.at</a>
            </div>
          </div>

          <div class="pin wien" data-location="3">
            <div class="marker"></div>
            <div class="city">Wien</div>
            <div class="content">
              <h3>Club Courage</h3>
              <p class="reason">für die Förderung von Zivilcourage in der Clubkultur</p>
              <a class="link" href="http://www.clubcourage.at" target="_blank">www.clubcourage.at</a>
            </div>
          </div>

          <div class="pin graz first" data-location="4">
            <div class="marker"></div>
            <div class="city">Graz</div>
            <div class="content">
              <h3>Jugendkulturzentrum Explosiv</h3>
              <p class="reason">für die Entwicklung einer sozialen Lokalatmosphäre
                und Weiterbildung der Ehrenamtlichen</p>
              <a class="link" href="http://www.explosiv.at" target="_blank">www.explosiv.at</a>
            </div>
          </div>

          <div class="pin salzburg" data-location="5">
            <div class="marker"></div>
            <div class="city">Salzburg</div>
            <div class="content">
              <h3>220°</h3>
              <p class="reason">für das Zusammenführen von Kaffee-Konsumkultur und sozialer Gerechtigkeit</p>
              <a class="link" href="http://www.220grad.com" target="_blank">www.220grad.com</a>
            </div>
          </div>

          <div class="pin zell" data-location="6">
            <div class="marker"></div>
            <div class="city">Zell am See</div>
            <div class="content">
              <h3>Netzwerk Stadtgemeinde, Tourismusverband und Verein „Zell by night“</h3>
              <p class="reason">für Impulse zu einem respektvollen Nachtleben</p>
              <a class="link" href="http://www.ginhouse.at" target="_blank">www.ginhouse.at</a>
            </div>
          </div>

          <div class="pin dornbirn" data-location="7">
            <div class="marker"></div>
            <div class="city">Dornbirn</div>
            <div class="content">
              <h3>Polizeisportverband Vorarlberg</h3>
              <p class="reason">für jugendgerechte Selbstverteidigungskurse mit Nightlife-Bezug</p>
              <a class="link" href="http://www.psv-vorarlberg.at" target="_blank">www.psv-vorarlberg.at</a>
            </div>
          </div>

        </div>

        <div class="category sport">

          <div class="pin puchberg" data-location="8">
            <div class="marker"></div>
            <div class="city">Puchberg am<br>Schneeberg</div>
            <div class="content">
              <h3>Move your mind</h3>
              <p class="reason">für aufmerksame Vorbereitung und allragsnahe
                Reflexion von Erlebnissen im Hochseilgarten</p>
              <a class="link" href="http://www.moveyourmind.at" target="_blank">www.moveyourmind.at</a>
            </div>
          </div>

          <div class="pin graz second" data-location="9">
            <div class="marker"></div>
            <div class="city">Graz</div>
            <div class="content">
              <h3>Bloc-house</h3>
              <p class="reason">für Impulse zu Entschleunigung und
                Beziehungskultur in der Boulderhalle.</p>
              <a class="link" href="http://www.bloc-house.at" target="_blank">www.bloc-house.at</a>
            </div>
          </div>

        </div>

      </div>

      <div class="legend">

        <div class="nightlife locations">
          <h2>Gastronomie & Nightlife</h2>

          <ul>
            <li><a data-location="1" href="http://www.wiesen.at" target="_blank">
              Jazzpub und Festivalgelände, Wiesen
            </a></li>

            <li><a data-location="2" href="http://www.frau-dietrich.at/" target="_blank">
              Frau Dietrich, Linz
            </a></li>

            <li><a data-location="3" href="http://www.clubcourage.at" target="_blank">
              Club Courage, Wien
            </a></li>

            <li><a data-location="4" href="http://www.explosiv.at" target="_blank">
              Jugendkulturzentrum Explosiv, Graz
            </a></li>

            <li><a data-location="5" href="http://www.220grad.com" target="_blank">
              220°, Salzburg
            </a></li>

            <li><a data-location="6" href="http://www.ginhouse.at" target="_blank">
              Zell by night, Zell am See
            </a></li>

            <li><a data-location="7" href="http://www.psv-vorarlberg.at" target="_blank">
              Polizeisportverband Vorarlberg, Dornbirn
            </a></li>

          </ul>
        </div>

        <div class="sport locations">
          <h2>Spiel & Sport</h2>
          <ul>
            <li><a data-location="8" href="http://www.moveyourmind.at" target="_blank">
              Move your mind, Puchberg am Schneeberg
            </a></li>

            <li><a data-location="9" href="http://www.bloc-house.at" target="_blank">
              Bloc-house, Graz
            </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="nav">
      <%= link_to "< zurück zur Projektübersicht", static_path('projekte'), :class => 'back' %>
    </div>

    <div class="sponsors row">

      <div class="span8 offset2">
        <ul class="logos row">

          <li class="span2">
            <a href="http://www.pernod-ricard-austria.com" target="_blank">
              <%= image_tag 'projects/hr-award/pernot-ricard-austria-logo.svg', :class => 'logo' %>
            </a>
          </li>

          <li class="span2">
            <a href="http://www.boehringer-ingelheim.at/" target="_blank">
              <%= image_tag 'projects/hr-award/bi-logo.png', :class => 'logo' %>
            </a>
          </li>

          <li class="span1">
            <a href="http://www.kinderjugendgesundheit.at/" target="_blank">
              <%= image_tag 'projects/hr-award/liga-logo.svg', :class => 'logo' %>
            </a>
          </li>

          <li class="span1">
            <a href="http://www.alpenverein.at/" target="_blank">
              <%= image_tag 'projects/hr-award/oeav-logo.png', :class => 'logo' %>
            </a>
          </li>

          <li class="span2">
            <a href="http://www.rauch.cc/" target="_blank">
              <%= image_tag 'projects/hr-award/rauch-logo.png', :class => 'logo' %>
            </a>
          </li>

        </ul>
      </div>

  </div>

</div>
