<!DOCTYPE html>
<html>
<head>
  <title>Risflecting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'willkommen', static_path(:willkommen) %>
<%= link_to 'konzept', static_path(:konzept) %>
<%= link_to 'projekte', static_path(:projekte) %>
<%= link_to 'lehrgang', static_path(:lehrgang) %>
<%= link_to 'studie', static_path(:studie) %>
<%= link_to 'faq', static_path(:faq) %>
<%= link_to 'team', static_path(:team) %>
<%= link_to 'publikationen', static_path(:publikationen) %>
<%= link_to 'kontakt', static_path(:kontakt) %>
<%= link_to 'impressum', static_path(:impressum) %>
<%= link_to 'english', static_path(:english) %>

<%= yield %>

</body>
</html>
