<!DOCTYPE html>
<html>
<head>
  <title>Risflecting</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header>
    <nav>
      <ul>
        <li>
          <a href="<%= static_path(:willkommen) %>" id="welcome">
            <span id="logo-text">risflecting</span>
            <div id="slogan">
              <span>Leben in Rausch&ndash;</span>
              <span>und Risikobalance</span>
            </div>
          </a>
        </li>
      
        <li><%= link_to 'Konzept', static_path(:konzept) %></li>
        <li><%= link_to 'Projekte', static_path(:projekte) %></li>
        <li><%= link_to 'Weiterbildung', static_path(:weiterbildung) %></li>
        <li><%= link_to 'FAQs', static_path(:faq) %></li>
        <li><%= link_to 'Team', static_path(:team) %></li>
        <li><%= link_to 'Publikationen', static_path(:publikationen) %></li>
        <li><%= link_to 'Links', static_path(:links) %></li>

        <li>
          <%= link_to 'english version', static_path(:english), :id => 'language-switch' %>
        </li>
    </nav>
    
    <div id="headline">
      <%= yield :headline %>
    </div>
  </header>
  
  <section id="content">
    <article>
      <%= yield %>
    </article>
    
    <div id="sticky-footer-pusher">
  </section>

  <footer>
    <div id="footer-navigation">
      <%= link_to 'Studie', static_path(:studie) %>
      <%= link_to 'Kontakt', static_path(:kontakt) %>
      <%= link_to 'Impressum', static_path(:impressum) %>
    </div>
  </footer>

</body>
</html>
