<!DOCTYPE html>
<html lang="de">
<head>
  <title><%= yield :page_title %> | Risflecting</title>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "extern/application", :media => "all" %>

  <%= yield :stylesheet_includes %>
  <%= javascript_include_tag "extern/application" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <div class="container">
        
        <a href="<%= static_path(:willkommen) %>" id="welcome">
          <span id="logo-text">risflecting</span>
          <div id="slogan">
            <span>ExpertInnenpool</span>
            <span>für Rausch&ndash; und</span>
            <span>Risikopädagogik</span>
          </div>
        </a>
      
        <%= render_navigation %>
      
      </div>
    </nav>
    
    <div id="headline" class="container">
      <%= image_tag 'layout/header-image-rope-dancing.jpg', :id => 'header-image' %>
      <%= yield :headline %>
    </div>
    
  </header>

  <section id="content">
    <div class="container">
      <%= yield %>
    </div>
    
    <div id="sticky-footer-pusher"></div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
      
        <section class="portrait span3 offset2">
          <%= image_tag('layout/footer-portrait-gerald-koller.jpg') %>
          <p class="name">Gerald Koller<p>
          <p class="info">
            <span>risflecting focal point</span>
            <span class="email">
              <a href="mailto:gerald.koller@qualitaetleben.at">Email schicken</a>
            </span>
          </p>
        </section>
    
        <section class="navigation span3">
          <ul>          
            <li><%= link_to 'Konzept', static_path(:konzept) %></li>
            <li><%= link_to 'Studie', static_path(:studie) %></li>
            <li><%= link_to 'Projekte', static_path(:projekte) %></li>
            <li><%= link_to 'Weiterbildung', static_path(:weiterbildung) %></li>
          </ul>
        
          <ul>
            <li><%= link_to 'FAQs', static_path(:faq) %></li>
            <li><%= link_to 'Team', static_path(:team) %></li>
            <li><%= link_to 'Publikationen', static_path(:publikationen) %></li>
            <li><%= link_to 'Links', static_path(:links) %></li>
          </ul>
        </section>
    
        <section class="navigation span4">
          <ul>
            <li><%= link_to 'Kontakt', static_path(:kontakt) %></li>
            <li><%= link_to 'Impressum', static_path(:impressum) %></li>
          </ul>
        </section>
        
      </div>
    </div>
  </footer>

</body>
</html>
