<html>
<head>
  <title>Risflecting Intern</title>
  <%= stylesheet_link_tag "intern/application", :media => "all" %>
  <%= javascript_include_tag "intern/application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Risflecting Plattform', intern_root_path, :class => 'brand' %>
        <ul class="nav">
          <li><%= link_to 'Dashboard', intern_dashboard_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Termine', intern_appointments_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Benutzer einladen', new_intern_account_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% if intern_user_signed_in? %>
      <p>
        Eingeloggt als: <%= current_intern_user.email %> <%= link_to('Abmelden', destroy_intern_user_session_path, :method => :delete) %>
      </p>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash-message alert alert-#{key}") %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
