<!DOCTYPE html>
<html lang="de">
<head>
  <title>Risflecting Intern</title>
  <%= stylesheet_link_tag "intern/application", :media => "all" %>
  <%= javascript_include_tag "intern/application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" id="main-navigation">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'risflecting Intern', intern_root_path, :class => 'brand' %>

        <% if intern_user_signed_in? %>
        <ul class="nav">
          <li><%= link_to '', intern_dashboard_path, :class => 'icon-home icon-white' %></li>
          <li><%= link_to 'Termine', intern_appointments_path %></li>
          <li><%= link_to 'Fragen & Mitteilungen', intern_questions_path %></li>
          <li><%= link_to 'Tatenbank', intern_projects_path %></li>
          <li><%= link_to 'Dokumente', intern_documents_path %></li>
        </ul>

        <ul class="nav pull-right" id="account-dropdown">
          <li class="dropdown">
            <%= link_to '#', :class => 'dropdown-toggle', :data => { :toggle => 'dropdown' } do %>
              <%= avatar_image_tag current_intern_user.avatar, :tiny, :alt => current_intern_user.full_name %>&nbsp;&nbsp;<%= current_intern_user.full_name %> <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <% if can? :create, User %>
              <li><%= link_to new_intern_account_path do %><i class="icon-envelope"></i> Benutzer einladen<% end %></li>
              <% end %>
              <li><%= link_to intern_profile_path do %><i class="icon-user"></i> Mein Profil<% end %></li>
              <li><%= link_to destroy_intern_user_session_path do %><i class="icon-off"></i> Abmelden<% end %></li>
            </ul>
          </li>
        </ul>
        <% end %>

      </div>
    </div>
  </div>

  <div class="container">
    <%= bootstrap_flash_messages %>
    <%= yield %>
  </div>
</body>
</html>
